/*****************************************************************
    Base
*****************************************************************/
/*! normalize.css v1.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans:300,400,600,700,800);
/* line 11, sass/shared/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 30, sass/shared/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 43, sass/shared/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
/* line 53, sass/shared/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 68, sass/shared/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
/* line 79, sass/shared/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/**
 * Address margins handled incorrectly in IE 6/7.
 */
/* line 91, sass/shared/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 103, sass/shared/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 111, sass/shared/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
/* line 126, sass/shared/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 131, sass/shared/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 136, sass/shared/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 141, sass/shared/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 146, sass/shared/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 151, sass/shared/_normalize.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
/* line 160, sass/shared/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
/* line 168, sass/shared/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 173, sass/shared/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 181, sass/shared/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
/* line 190, sass/shared/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 6/7/8/9.
 */
/* line 200, sass/shared/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address margins set differently in IE 6/7.
 */
/* line 209, sass/shared/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 218, sass/shared/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 231, sass/shared/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/**
 * Address CSS quotes not supported in IE 6/7.
 */
/* line 241, sass/shared/_normalize.scss */
q {
  quotes: none;
}

/**
 * Address `quotes` property not supported in Safari 4.
 */
/* line 249, sass/shared/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 259, sass/shared/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 267, sass/shared/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 275, sass/shared/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 279, sass/shared/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 291, sass/shared/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 298, sass/shared/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 306, sass/shared/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 316, sass/shared/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
/* line 331, sass/shared/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 340, sass/shared/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
/* line 352, sass/shared/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 364, sass/shared/_normalize.scss */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 372, sass/shared/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 384, sass/shared/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
/* line 398, sass/shared/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 413, sass/shared/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 425, sass/shared/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 440, sass/shared/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 453, sass/shared/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 465, sass/shared/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 479, sass/shared/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 491, sass/shared/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
/* line 500, sass/shared/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 511, sass/shared/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 524, sass/shared/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 14, ../../../../.rvm/gems/ruby-2.0.0-p576/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
    Shared
    - All shared files across all pages in this project
*/
/*****************************************************************
    Variables
*****************************************************************/
/*
    Grids Susy
*/
/*
    Typography
*/
/*
    Colors
*/
/*
    Z-index [ DON'T CHANGE THIS - Add new var if is necessary ]
*/
/***********************************************************
    Mixins
************************************************************/
/*
    Position Mixin
    - http://hugogiraudel.com/2013/08/05/offsets-sass-mixin/

    @example:
        @include absolute(top 1em right 10%);
    @output:
        position: absolute;
        top: 1em;
        right: 10%;
*/
/*
    Hex to Rgba

    @exmple:
        @include hex-to-rgba(#333, 0.5);
    @output:
        color: #333; // The Fallback
        color: rgba(200, 54, 54, 0.5);
*/
/*
    Sizing Mixin

    @exmple:
        @include size(100%, 10px);
    @output:
        width: 100%;
        height: 10px;
*/
/*
    Calculate px to rem (font-size)

    @example:
        @include font-size(14px);
    @output:
        font-size: 14px;
        font-size: 1.4rem; // ie will ignore this line he not understand it at all
*/
/*
    Arrows Mixin

    $direction: top, left, right, bottom, top-left, top-right, bottom-left, bottom-right
    $color: hex, rgb or rbga
    $size: px or em

    @example:
        @include arrow(top, #000, 50px);
    @output:
        display: inline-block;
        height: 0;
        width: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 50px solid #000000;
*/
/*
    Hidpi Mixin
    - Hidpi Mixin help you to specify styles or load hi res image
      for hidpi resolutions such as retina or android amoled

    @example:
        @include hidpi {
            background-image('../img/some-image@2x.png') top left no-repeat;
        };
*/
/*
    Reset Unordered List

    @example:
        @include reset-ul-list;
    @output:
        list-style: none;
        margin: 0;
        padding: 0;
*/
/*
    Hide Text

    @example:
        @include hide-text;
    @output:
        text-indent: 110%;
        overflow: hidden;
        white-space: nowrap;
*/
/*
    Opacity
    - Cross browser opacity ie7 +, FF, Opera, Chrome etc...

    @example:
        @include opacity(0.5);
    @output:
        opacity: 50%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50%)";
        filter: alpha(opacity=50%); //IE8
*/
/*
    Placeholder
    - change text color or add italic to font only for placeholder

    @example:
        @include input-placeholder{
            font-style: italic;
            color: #000000;
        };
*/
/*
    Center-align a block level element
    - Lot of time you need to center some element in the middle
      this is a mixin who give you short code

    @example:
        @include center-block;
    @output:
        display: block;
        margin-left: auto;
        margin-right: auto;
*/
/*
    IE7 inline-block
    - Ie7 not suport inline-block and you need to add this hack if you support ie7

    @example:
        @include ie7-inline-block;
    @output:
        *display: inline; // IE7 inline-block hack
        *zoom: 1;
*/
/*
    Webkit-style focus
*/
/*
    Clearfix
*/
/*
    IE7 likes to collapse whitespace on either side of the inline-block elements.
    Ems because we're attempting to match the width of a space character. Left
    version is for form buttons, which typically come after other elements, and
    right version is for icons, which come before. Applying both is ok, but it will
    mean that space between those elements will be .6em (~2 space characters) in IE7,
    instead of the 1 space in other browsers.
*/
/*****************************************************************
    Default
*****************************************************************/
/* line 7, sass/shared/_default.scss */
html {
  font-size: 62.5%;
}

/* line 11, sass/shared/_default.scss */
body {
  font-family: "Open Sans", sans-serif, Helvetica, Arial;
  font-size: 14px;
  color: #333333;
  background: #ffffff;
  line-height: 1.4;
}

/* line 19, sass/shared/_default.scss */
a {
  color: #2D619E;
  text-decoration: none;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
/* line 24, sass/shared/_default.scss */
a:hover {
  color: #224976;
}

/* line 29, sass/shared/_default.scss */
h1 {
  font-size: 36px;
  font-size: 3.6rem;
}

/* line 33, sass/shared/_default.scss */
h2 {
  font-size: 24px;
  font-size: 2.4rem;
}

/* line 37, sass/shared/_default.scss */
h3 {
  font-size: 21px;
  font-size: 2.1rem;
}

/* line 41, sass/shared/_default.scss */
h4 {
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 45, sass/shared/_default.scss */
h5 {
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 49, sass/shared/_default.scss */
h6 {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 53, sass/shared/_default.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif, Helvetica, Arial;
}

/*****************************************************************
    Buttons
*****************************************************************/
/* line 8, sass/shared/_buttons.scss */
.free-account-button {
  padding: 13px 25px;
  width: 190px;
  display: inline-block;
  background: #F5A623;
  text-align: center;
  font-size: 13px;
  font-size: 1.3rem;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #FFFFFF;
}
/* line 18, sass/shared/_buttons.scss */
.free-account-button:hover {
  color: #FFFFFF;
  background: #db8c0a;
}

/*****************************************************************
    Icons
*****************************************************************/
/*****************************************************************
    Forms
*****************************************************************/
/* line 7, sass/shared/_forms.scss */
input[type=checkbox],
input[type=radio] {
  border: 1px solid #ffffff;
  background: #ffffff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  clear: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  height: 16px;
  margin: -4px -4px 0 0;
  outline: 0;
  padding: 0 !important;
  text-align: center;
  vertical-align: middle;
  width: 16px;
  min-width: 16px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}

/* line 30, sass/shared/_forms.scss */
input[type=radio] {
  border-radius: 50%;
}

/* line 34, sass/shared/_forms.scss */
input[type=checkbox]:checked,
input[type=radio]:checked {
  border-color: #ffffff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 40, sass/shared/_forms.scss */
input[type=checkbox]:before,
input[type=radio]:before {
  opacity: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 46, sass/shared/_forms.scss */
input[type=checkbox]:checked:before,
input[type=radio]:checked:before {
  float: left;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  speak: none;
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 58, sass/shared/_forms.scss */
input[type=checkbox]:checked:before {
  color: #19BB9B;
  font-size: 15px;
  font-family: FontAwesome;
  content: "\f00c";
  margin: 7px 0 0 0;
}

/* line 66, sass/shared/_forms.scss */
input[type=radio]:checked:before {
  content: '';
  background-color: #19BB9B;
  width: 10px;
  height: 10px;
  min-height: 10px;
  margin: 3px 0 0 3px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 77, sass/shared/_forms.scss */
input[disabled] {
  border-color: #DDD;
}

/* line 81, sass/shared/_forms.scss */
input[disabled]:checked {
  border-color: #DDD;
}

/* line 85, sass/shared/_forms.scss */
input[disabled]:checked:before {
  color: #DDD;
  background-color: #DDD;
}

/* line 90, sass/shared/_forms.scss */
input[disabled] + label {
  color: #A9A9A9;
}

/*
    Structure
    - Base Structure (header, footer and layout)
      we also have pages sub-directory for specific styles for each page (home-page, contact-page etc...)
*/
/*****************************************************************
    Header Site
*****************************************************************/
/* line 6, sass/structure/_header-site.scss */
.header {
  display: block;
  overflow: hidden;
  background: #000000;
  /* The Fallback */
  background: rgba(0, 0, 0, 0.3);
  padding: 15px 0;
  position: relative;
}
/* line 13, sass/structure/_header-site.scss */
.header .container {
  width: 100%;
}

/* line 18, sass/structure/_header-site.scss */
.logo {
  float: left;
  width: 127px;
  height: 35px;
  text-indent: 110%;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}
/* line 24, sass/structure/_header-site.scss */
.logo a {
  float: left;
  width: 127px;
  height: 35px;
  background: url("../img/helloself-logo.svg") top left no-repeat;
}

/* line 31, sass/structure/_header-site.scss */
.nav {
  float: right;
  margin-top: 5px;
}
/* line 35, sass/structure/_header-site.scss */
.nav a {
  float: left;
  color: #ffffff;
  margin-left: 30px;
  font-family: "Lato", sans-serif, Helvetica, Arial;
}
/* line 41, sass/structure/_header-site.scss */
.nav a:hover {
  color: #AFB8BA;
}
/* line 46, sass/structure/_header-site.scss */
.nav .current {
  color: #AFB8BA;
}
/* line 50, sass/structure/_header-site.scss */
.nav .signup-button {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #ffffff;
  /* The Fallback */
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  border: 1px solid #FFFFFF;
  margin-top: -11px;
}
/* line 57, sass/structure/_header-site.scss */
.nav .signup-button:hover {
  background: #ffffff;
  color: #F5A623;
}

/*****************************************************************
    Footer Site
*****************************************************************/
/* line 6, sass/structure/_footer-site.scss */
.footer {
  background: #374249;
  padding: 50px 0 20px 0;
  color: #AFB8BA;
}
/* line 11, sass/structure/_footer-site.scss */
.footer p {
  font-size: 13px;
  font-size: 1.3rem;
}
/* line 15, sass/structure/_footer-site.scss */
.footer h3 {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 1px dashed #44535D;
  padding-bottom: 5px;
}
/* line 23, sass/structure/_footer-site.scss */
.footer a {
  font-size: 13px;
  font-size: 1.3rem;
  color: #AFB8BA;
}
/* line 27, sass/structure/_footer-site.scss */
.footer a:hover {
  color: #ffffff;
}

/* line 33, sass/structure/_footer-site.scss */
.footer-section {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  padding-bottom: 60px;
}
/* line 37, sass/structure/_footer-site.scss */
.footer-section.social-section {
  margin-left: 8.47458%;
  width: 23.72881%;
  float: right;
  margin-right: 0;
}
/* line 42, sass/structure/_footer-site.scss */
.footer-section .logo {
  float: left;
  width: 121px;
  height: 35px;
  text-indent: 110%;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}
/* line 48, sass/structure/_footer-site.scss */
.footer-section .logo a {
  float: left;
  width: 121px;
  height: 35px;
  background: url("../img/helloself-logo.svg") top left no-repeat;
  background-size: 121px;
}
/* line 56, sass/structure/_footer-site.scss */
.footer-section a {
  float: left;
  clear: both;
  font-weight: 300;
  padding: 3px 0;
}
/* line 63, sass/structure/_footer-site.scss */
.footer-section p {
  float: left;
  margin-top: 5px;
}

/* line 70, sass/structure/_footer-site.scss */
.social-section label {
  display: block;
  font-weight: 300;
  margin-bottom: 5px;
}

/* line 78, sass/structure/_footer-site.scss */
#mc_embed_signup {
  display: block;
  overflow: hidden;
}
/* line 82, sass/structure/_footer-site.scss */
#mc_embed_signup .email {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
  padding: 10px;
  border: 0px;
  font-size: 12px;
  font-size: 1.2rem;
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px 0 0 2px;
  font-weight: 300;
}
/* line 91, sass/structure/_footer-site.scss */
#mc_embed_signup .button {
  background: #19BB9B;
  width: 23.72881%;
  float: right;
  margin-right: 0;
  border: 0px;
  padding: 10px 0;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-size: 1.2rem;
  -moz-border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0;
  border-radius: 0 2px 2px 0;
}

/* line 103, sass/structure/_footer-site.scss */
.social-holder {
  display: block;
  margin: 10px 0 0 0;
}
/* line 107, sass/structure/_footer-site.scss */
.social-holder .facebook-like-button {
  display: inline-block;
  float: none;
  background: #3A73B6;
  padding: 5px 15px;
  color: #ffffff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 115, sass/structure/_footer-site.scss */
.social-holder .facebook-like-button:hover {
  background: #3467a3;
}
/* line 120, sass/structure/_footer-site.scss */
.social-holder .twitter-follow-button {
  display: inline-block;
  float: none;
  background: #4EA8E1;
  padding: 5px 15px;
  color: #ffffff;
  margin-left: 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 129, sass/structure/_footer-site.scss */
.social-holder .twitter-follow-button:hover {
  background: #389ddd;
}

/* line 135, sass/structure/_footer-site.scss */
.footer-message {
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: 300;
  clear: both;
}
/* line 140, sass/structure/_footer-site.scss */
.footer-message a {
  color: #F5A623;
}
/* line 143, sass/structure/_footer-site.scss */
.footer-message a:hover {
  color: #db8c0a;
}

/*****************************************************************
    Layout Site
*****************************************************************/
/* line 6, sass/structure/_layout-site.scss */
.container {
  max-width: 73.75em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../.rvm/gems/ruby-2.0.0-p576/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 10, sass/structure/_layout-site.scss */
.back-image {
  display: block;
  background: url("../img/site-background@2x.jpg") top center no-repeat;
  background-size: cover;
}

/* line 16, sass/structure/_layout-site.scss */
.form-holder {
  display: block;
  width: 23.72881%;
  margin: 0px auto;
}

/*****************************************************************
    Site Home Page
*****************************************************************/
/* line 7, sass/structure/pages/_site-page.scss */
.site-page h2 {
  font-size: 36px;
  font-size: 3.6rem;
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
  margin: 0 0 10px 0;
}
/* line 15, sass/structure/pages/_site-page.scss */
.site-page .intro {
  display: none;
}

/* line 20, sass/structure/pages/_site-page.scss */
.intro-text {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}
/* line 27, sass/structure/pages/_site-page.scss */
.intro-text a {
  color: #F5A623;
}
/* line 30, sass/structure/pages/_site-page.scss */
.intro-text a:hover {
  color: #db8c0a;
}

/* line 40, sass/structure/pages/_site-page.scss */
.site-home-page .header {
  background: none;
  padding-top: 30px;
}
/* line 45, sass/structure/pages/_site-page.scss */
.site-home-page .intro,
.site-home-page .pic-info {
  display: block;
}

/*
    Modules
    - Sections in project ( newsletter signup, custom autocomplete etc... )
      each of this section should be modular and can be movable without additional styles
*/
/*****************************************************************
    Forms: Login, Signup, Forgot Password
*****************************************************************/
/* line 6, sass/modules/site/_forms.scss */
.signin-container {
  padding: 100px 0 265px 0;
}

/* line 10, sass/modules/site/_forms.scss */
.signup-container {
  padding: 100px 0 200px 0;
}

/* line 14, sass/modules/site/_forms.scss */
.forgot-password-container {
  padding: 100px 0 340px 0;
}

/* line 19, sass/modules/site/_forms.scss */
.reset-password-form .password-field {
  margin-bottom: 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 25, sass/modules/site/_forms.scss */
.form-holder {
  display: block;
}
/* line 28, sass/modules/site/_forms.scss */
.form-holder form {
  padding-top: 30px;
}
/* line 32, sass/modules/site/_forms.scss */
.form-holder label {
  display: block;
  margin: 10px 0;
  color: #ffffff;
  font-weight: 300;
}
/* line 39, sass/modules/site/_forms.scss */
.form-holder .remember-field {
  margin-right: 5px;
}
/* line 43, sass/modules/site/_forms.scss */
.form-holder .name-field,
.form-holder .email-field,
.form-holder .password-field,
.form-holder .repeat-password-field {
  border: 0px none;
  background: #ffffff;
}
/* line 51, sass/modules/site/_forms.scss */
.form-holder input[type="text"],
.form-holder input[type="password"] {
  padding: 15px;
  width: 100%;
}
/* line 262, sass/shared/_mixins.scss */
.form-holder input[type="text"]::-webkit-input-placeholder,
.form-holder input[type="password"]::-webkit-input-placeholder {
  color: #AFB8BA;
  font-weight: 300;
}
/* line 266, sass/shared/_mixins.scss */
.form-holder input[type="text"]:-moz-placeholder,
.form-holder input[type="password"]:-moz-placeholder {
  color: #AFB8BA;
  font-weight: 300;
}
/* line 270, sass/shared/_mixins.scss */
.form-holder input[type="text"]::-moz-placeholder,
.form-holder input[type="password"]::-moz-placeholder {
  color: #AFB8BA;
  font-weight: 300;
}
/* line 274, sass/shared/_mixins.scss */
.form-holder input[type="text"]:-ms-input-placeholder,
.form-holder input[type="password"]:-ms-input-placeholder {
  color: #AFB8BA;
  font-weight: 300;
}
/* line 61, sass/modules/site/_forms.scss */
.form-holder input[type="text"].email-field,
.form-holder input[type="password"].email-field {
  border-bottom: 1px solid #dddddd;
}
/* line 66, sass/modules/site/_forms.scss */
.form-holder .signin-button,
.form-holder .signup-button {
  display: block;
  background: #19BB9B;
  padding: 15px;
  border: 0px solid #000000;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
/* line 79, sass/modules/site/_forms.scss */
.form-holder .signin-button:hover,
.form-holder .signup-button:hover {
  background: #16a588;
}
/* line 84, sass/modules/site/_forms.scss */
.form-holder .form-error-message {
  background: #CB5555;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px;
  border-radius: 2px 2px 0 0;
  display: block;
  color: #ffffff;
  font-size: 12px;
  font-size: 1.2rem;
  padding: 12px 5px;
  text-align: center;
  font-weight: 300;
  display: none;
}
/* line 96, sass/modules/site/_forms.scss */
.form-holder .error-field {
  border-left: 3px solid #CB5555;
  color: #CB5555;
}

/* line 103, sass/modules/site/_forms.scss */
.signin-form .name-field {
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px;
  border-radius: 2px 2px 0 0;
  border-bottom: 1px solid #dddddd;
}
/* line 108, sass/modules/site/_forms.scss */
.signin-form .password-field {
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0;
  border-radius: 0 0 2px 2px;
}

/* line 114, sass/modules/site/_forms.scss */
.signup-form .name-field {
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px;
  border-radius: 2px 2px 0 0;
  border-bottom: 1px solid #dddddd;
}
/* line 119, sass/modules/site/_forms.scss */
.signup-form .email-field,
.signup-form .password-field {
  border-bottom: 1px solid #dddddd;
}
/* line 124, sass/modules/site/_forms.scss */
.signup-form .repeat-password-field {
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0;
  border-radius: 0 0 2px 2px;
  margin-bottom: 10px;
}

/* line 131, sass/modules/site/_forms.scss */
.forgot-password-form .email-field {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 10px;
}

/* line 138, sass/modules/site/_forms.scss */
.other-message {
  margin: 10px 0;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-size: 1.2rem;
}
/* line 144, sass/modules/site/_forms.scss */
.other-message a {
  color: #F5A623;
}
/* line 147, sass/modules/site/_forms.scss */
.other-message a:hover {
  color: #db8c0a;
}

/* line 153, sass/modules/site/_forms.scss */
.forgot-password {
  color: #F5A623;
  font-size: 12px;
  font-size: 1.2rem;
}
/* line 157, sass/modules/site/_forms.scss */
.forgot-password:hover {
  color: #db8c0a;
}

/*****************************************************************
    Intro
*****************************************************************/
/* line 6, sass/modules/site/_intro.scss */
.intro {
  margin: 140px auto 10px auto;
  width: 53.38983%;
  display: block;
}
/* line 12, sass/modules/site/_intro.scss */
.intro h2 {
  font-size: 40px;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 50px;
  text-shadow: 0px 1px 0px #000000;
}
/* line 20, sass/modules/site/_intro.scss */
.intro p {
  font-size: 15px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 5px;
  text-shadow: 0px 1px 0px #000000;
}

/* line 31, sass/modules/site/_intro.scss */
.intro-content {
  margin: 0 auto 280px auto;
  width: 66.10169%;
  display: block;
}
/* line 36, sass/modules/site/_intro.scss */
.intro-content a {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  border: 2px solid #ffffff;
  text-align: center;
  padding: 15px 20px;
  margin-bottom: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 45, sass/modules/site/_intro.scss */
.intro-content .create-account-button {
  color: #F5A623;
  background: #ffffff;
}
/* line 50, sass/modules/site/_intro.scss */
.intro-content .pricing-plans-button {
  color: #ffffff;
  float: right;
  margin-right: 0;
}
/* line 54, sass/modules/site/_intro.scss */
.intro-content .pricing-plans-button:hover {
  background: white;
  /* The Fallback */
  background: rgba(255, 255, 255, 0.2);
}

/* line 61, sass/modules/site/_intro.scss */
.scroll-down-info {
  font-size: 12px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  text-align: center;
}

/*****************************************************************
    Product Sections 3 Boxes
*****************************************************************/
/* line 6, sass/modules/site/_product-section.scss */
.product-section {
  display: block;
  background: #ffffff;
  padding: 50px 0 80px 0;
  border-bottom: 1px solid #EDEDED;
  margin-bottom: 1px;
}
/* line 15, sass/modules/site/_product-section.scss */
.product-section .headline h2 {
  font-size: 36px;
  font-size: 3.6rem;
  font-weight: 300;
  color: #333333;
}
/* line 21, sass/modules/site/_product-section.scss */
.product-section .headline p {
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 300;
  font-family: "Lato", sans-serif, Helvetica, Arial;
  margin: 0;
}
/* line 30, sass/modules/site/_product-section.scss */
.product-section .see-features-button {
  width: 32.20339%;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #FFFFFF;
  border: 1px solid #F5A623;
  padding: 10px;
  text-align: center;
  clear: both;
  overflow: hidden;
  display: block;
  color: #333333;
  margin: 0 auto;
}
/* line 43, sass/modules/site/_product-section.scss */
.product-section .see-features-button:hover {
  border: 1px solid #db8c0a;
  background: #f5a623;
  color: #ffffff;
}

/* line 51, sass/modules/site/_product-section.scss */
.product-list {
  list-style: none;
  margin: 80px auto 60px auto;
  width: 100%;
  padding: 0;
  display: block;
  overflow: hidden;
}
/* line 59, sass/modules/site/_product-section.scss */
.product-list li {
  float: left;
  width: 33.3%;
  border-right: 1px dashed #DDDDDD;
  min-height: 270px;
}
/* line 65, sass/modules/site/_product-section.scss */
.product-list li:last-child {
  border-right: 0px dashed #DDDDDD;
}
/* line 69, sass/modules/site/_product-section.scss */
.product-list li span {
  font-weight: 600;
}
/* line 74, sass/modules/site/_product-section.scss */
.product-list img {
  display: block;
  margin: 0px auto 20px auto;
  height: 115px;
}
/* line 80, sass/modules/site/_product-section.scss */
.product-list h3 {
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
}
/* line 87, sass/modules/site/_product-section.scss */
.product-list p {
  font-weight: 300;
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 0px 30px;
}

/*****************************************************************
    Testimonials Section
*****************************************************************/
/* line 6, sass/modules/site/_testimonials-section.scss */
.testimonials-section {
  background: #F5F5F5;
  display: block;
  padding: 50px 0 80px 0;
  clear: both;
}
/* line 14, sass/modules/site/_testimonials-section.scss */
.testimonials-section .headline h2 {
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 300;
  color: #333333;
}
/* line 20, sass/modules/site/_testimonials-section.scss */
.testimonials-section .headline p {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 300;
  font-family: "Lato", sans-serif, Helvetica, Arial;
  margin: 0;
}

/* line 30, sass/modules/site/_testimonials-section.scss */
.testimonials-list {
  display: block;
  width: 83.05085%;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 40px auto 20px auto;
}
/* line 38, sass/modules/site/_testimonials-section.scss */
.testimonials-list li {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  padding: 0px 10px;
}
/* line 42, sass/modules/site/_testimonials-section.scss */
.testimonials-list li:last-child {
  float: right;
  margin-right: 0;
}
/* line 47, sass/modules/site/_testimonials-section.scss */
.testimonials-list img {
  width: 36px;
  height: 36px;
  float: left;
  border: 2px solid #ffffff;
  margin: 0 10px 0 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 55, sass/modules/site/_testimonials-section.scss */
.testimonials-list p {
  float: right;
  width: 88%;
  margin: 0;
  font-size: 13px;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 300;
}
/* line 63, sass/modules/site/_testimonials-section.scss */
.testimonials-list p strong {
  display: block;
}

/*****************************************************************
    You Know Section
*****************************************************************/
/* line 6, sass/modules/site/_you-know-section.scss */
.you-know-section {
  background: #374249;
  padding: 50px 0;
  display: block;
  overflow: hidden;
}
/* line 12, sass/modules/site/_you-know-section.scss */
.you-know-section h4 {
  font-size: 12px;
  font-size: 1.2rem;
  color: #AFB8BA;
  text-align: center;
  font-weight: 300;
  margin: 0px 0px 5px 0px;
}
/* line 20, sass/modules/site/_you-know-section.scss */
.you-know-section p {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  font-size: 15px;
  font-size: 1.5rem;
  margin: 0 0 3px 0;
}
/* line 28, sass/modules/site/_you-know-section.scss */
.you-know-section .free-account-button {
  margin: 20px auto 0 auto;
  display: block;
}

/*****************************************************************
    Screenshoot section
*****************************************************************/
/* line 6, sass/modules/site/_screenshoots-section.scss */
.screenshoots-section {
  display: block;
  background: #ffffff;
  padding: 50px 0 0 0;
}
/* line 13, sass/modules/site/_screenshoots-section.scss */
.screenshoots-section .headline h2 {
  font-size: 36px;
  font-size: 3.6rem;
  font-weight: 300;
  color: #333333;
}
/* line 19, sass/modules/site/_screenshoots-section.scss */
.screenshoots-section .headline p {
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 300;
  font-family: "Lato", sans-serif, Helvetica, Arial;
  margin: 0;
}
/* line 28, sass/modules/site/_screenshoots-section.scss */
.screenshoots-section .app-img {
  width: 83.05085%;
  height: 409px;
  margin: 40px auto 0 auto;
  background: url("../img/helloself-app-test.svg") top center no-repeat;
  background-size: 100%;
}

/*****************************************************************
    Call to Action
*****************************************************************/
/* line 6, sass/modules/site/_call-to-action.scss */
.call-to-action {
  background: #2A3237;
  padding: 30px 0;
}
/* line 10, sass/modules/site/_call-to-action.scss */
.call-to-action .action-copy {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  margin-left: 16.94915%;
  color: #ffffff;
  font-weight: 300;
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
}

/*****************************************************************
    Featured Top Section
*****************************************************************/
/* line 6, sass/modules/site/_featured-top-section.scss */
.features-holder {
  display: block;
  padding: 40px 0 0 0;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 140px;
}
/* line 12, sass/modules/site/_featured-top-section.scss */
.features-holder h2 {
  width: 49.15254%;
  font-weight: 600;
  margin: 0px auto;
}

/* line 19, sass/modules/site/_featured-top-section.scss */
.features-image {
  display: block;
  padding: 10px;
  width: 66.10169%;
  height: 460px;
  margin: 40px auto -60px auto;
  background: #f5f5f5 url("../img/helloself-app-test.svg") center 5px no-repeat;
  background-size: 940px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
/* line 29, sass/modules/site/_featured-top-section.scss */
.features-image:before, .features-image:after {
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
  z-index: -1;
  width: 50%;
  max-width: 500px;
  height: 20%;
  bottom: 15px;
  content: "";
}
/* line 39, sass/modules/site/_featured-top-section.scss */
.features-image:before {
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);
  position: absolute;
  right: 10px;
}
/* line 44, sass/modules/site/_featured-top-section.scss */
.features-image:after {
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
  transform: rotate(-1deg);
  position: absolute;
  left: 10px;
}

/* line 51, sass/modules/site/_featured-top-section.scss */
.pulse-one-holder {
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  top: 280px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  left: 60px;
  position: absolute;
  width: 300px;
}

/* line 56, sass/modules/site/_featured-top-section.scss */
.pulse-two-holder {
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  top: 430px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  left: 60px;
  position: absolute;
  width: 300px;
}

/* line 61, sass/modules/site/_featured-top-section.scss */
.pulse-three-holder {
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  top: 250px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  left: 450px;
  position: absolute;
  width: 300px;
}

/* line 66, sass/modules/site/_featured-top-section.scss */
.pulse-one,
.pulse-two,
.pulse-three {
  float: left;
}

/* line 72, sass/modules/site/_featured-top-section.scss */
.pulse-one-content,
.pulse-two-content,
.pulse-three-content {
  float: right;
  margin-top: -60px;
  background: #ffffff;
  padding: 12px 15px;
  width: 280px;
  border: 2px solid #F5A623;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: none;
}
/* line 85, sass/modules/site/_featured-top-section.scss */
.pulse-one-content h4,
.pulse-two-content h4,
.pulse-three-content h4 {
  margin: 0 0 5px 0;
  font-size: 14px;
  font-size: 1.4rem;
}
/* line 90, sass/modules/site/_featured-top-section.scss */
.pulse-one-content p,
.pulse-two-content p,
.pulse-three-content p {
  margin: 0;
  font-size: 12px;
  font-size: 1.2rem;
}

/* line 96, sass/modules/site/_featured-top-section.scss */
.pulse-button {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin-left: -20px;
  margin-top: -20px;
  display: block;
  width: 36px;
  height: 36px;
  padding-bottom: 4px;
  font-size: 1.3em;
  font-weight: bold;
  color: #fff;
  border: none;
  box-shadow: 0 0 0 0 rgba(245, 166, 35, 0.8);
  border-radius: 100%;
  v-align: middle;
  background: #F5A623;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

/* line 120, sass/modules/site/_featured-top-section.scss */
.pulse-button:hover {
  -webkit-animation: none;
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(90, 153, 220, 0);
  }
}
/*****************************************************************
    Featured Sections
*****************************************************************/
/* line 6, sass/modules/site/_featured-sections.scss */
.featured-section {
  display: block;
  overflow: hidden;
}
/* line 10, sass/modules/site/_featured-sections.scss */
.featured-section h2 {
  color: #333333;
  text-align: left;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 400;
}
/* line 17, sass/modules/site/_featured-sections.scss */
.featured-section .featured-item {
  padding-top: 20px;
}

/* line 23, sass/modules/site/_featured-sections.scss */
.left-image .img-holder {
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%;
  text-align: right;
}
/* line 28, sass/modules/site/_featured-sections.scss */
.left-image .featured-item {
  width: 40.67797%;
  float: right;
  margin-right: 0;
}

/* line 34, sass/modules/site/_featured-sections.scss */
.right-image .img-holder {
  width: 40.67797%;
  float: right;
  margin-right: 0;
  text-align: left;
}
/* line 39, sass/modules/site/_featured-sections.scss */
.right-image .featured-item {
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%;
  text-align: right;
}
/* line 41, sass/modules/site/_featured-sections.scss */
.right-image .featured-item h2 {
  text-align: right;
}

/* line 50, sass/modules/site/_featured-sections.scss */
.featured-last-list {
  padding-bottom: 80px;
}
/* line 53, sass/modules/site/_featured-sections.scss */
.featured-last-list h2 {
  text-align: center;
}

/* line 58, sass/modules/site/_featured-sections.scss */
.featured-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 61, sass/modules/site/_featured-sections.scss */
.featured-list li {
  width: 32.20339%;
  float: left;
  padding: 10px;
}
/* line 66, ../../../../.rvm/gems/ruby-2.0.0-p576/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
.featured-list li:nth-child(3n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../../../.rvm/gems/ruby-2.0.0-p576/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
.featured-list li:nth-child(3n + 2) {
  margin-left: 33.89831%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../.rvm/gems/ruby-2.0.0-p576/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
.featured-list li:nth-child(3n + 3) {
  margin-left: 67.79661%;
  margin-right: -100%;
  clear: none;
}
/* line 66, sass/modules/site/_featured-sections.scss */
.featured-list h3 {
  font-size: 16px;
  font-size: 1.6rem;
  height: 44px;
  font-weight: 400;
}
/* line 72, sass/modules/site/_featured-sections.scss */
.featured-list p {
  font-size: 13px;
  font-size: 1.3rem;
}

/* line 78, sass/modules/site/_featured-sections.scss */
.separator {
  display: block;
  width: 80px;
  height: 1px;
  background: #DDDDDD;
  margin: 70px auto;
  border: 0px none;
  position: relative;
}
/* line 86, sass/modules/site/_featured-sections.scss */
.separator:after {
  content: "";
  display: block;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  top: 4px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  left: 50%;
  position: absolute;
  margin-left: -30px;
  width: 60px;
  height: 2px;
  background: #DDDDDD;
  border: 0px none;
}

/*
    Help Classes
*/
/*****************************************************************
    Utility
*****************************************************************/
/* line 7, sass/shared/_utilities.scss */
.pull-right {
  float: right;
}

/* line 11, sass/shared/_utilities.scss */
.pull-left {
  float: left;
}

/* line 16, sass/shared/_utilities.scss */
.pull-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 21, sass/shared/_utilities.scss */
.hide {
  display: none;
}

/* line 25, sass/shared/_utilities.scss */
.show {
  display: block;
}

/* line 30, sass/shared/_utilities.scss */
.invisible {
  visibility: hidden;
}

/* line 35, sass/shared/_utilities.scss */
.hide-text {
  text-indent: 110%;
  overflow: hidden;
  white-space: nowrap;
}

/*
    Vendor
    - All plugins across web ( autocomplete, jquery-ui etc... )
*/
