@charset "UTF-8";
/*****************************************************************
    Base
*****************************************************************/
/*! normalize.css v1.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans:300,400,600,700,800);
/* line 11, sass/shared/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 30, sass/shared/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 43, sass/shared/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
/* line 53, sass/shared/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 68, sass/shared/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
/* line 79, sass/shared/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/**
 * Address margins handled incorrectly in IE 6/7.
 */
/* line 91, sass/shared/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 103, sass/shared/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 111, sass/shared/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
/* line 126, sass/shared/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 131, sass/shared/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 136, sass/shared/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 141, sass/shared/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 146, sass/shared/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 151, sass/shared/_normalize.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
/* line 160, sass/shared/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
/* line 168, sass/shared/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 173, sass/shared/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 181, sass/shared/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
/* line 190, sass/shared/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 6/7/8/9.
 */
/* line 200, sass/shared/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address margins set differently in IE 6/7.
 */
/* line 209, sass/shared/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 218, sass/shared/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 231, sass/shared/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/**
 * Address CSS quotes not supported in IE 6/7.
 */
/* line 241, sass/shared/_normalize.scss */
q {
  quotes: none;
}

/**
 * Address `quotes` property not supported in Safari 4.
 */
/* line 249, sass/shared/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 259, sass/shared/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 267, sass/shared/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 275, sass/shared/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 279, sass/shared/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 291, sass/shared/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 298, sass/shared/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 306, sass/shared/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 316, sass/shared/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
/* line 331, sass/shared/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 340, sass/shared/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
/* line 352, sass/shared/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 364, sass/shared/_normalize.scss */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 372, sass/shared/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 384, sass/shared/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
/* line 398, sass/shared/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 413, sass/shared/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 425, sass/shared/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 440, sass/shared/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 453, sass/shared/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 465, sass/shared/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 479, sass/shared/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 491, sass/shared/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
/* line 500, sass/shared/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 511, sass/shared/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 524, sass/shared/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 14, ../../../../.rvm/gems/ruby-2.0.0-p576/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
    Shared
    - All shared files across all pages in this project
*/
/*****************************************************************
    Variables
*****************************************************************/
/*
    Grids Susy
*/
/*
    Typography
*/
/*
    Colors
*/
/*
    Z-index [ DON'T CHANGE THIS - Add new var if is necessary ]
*/
/***********************************************************
    Mixins
************************************************************/
/*
    Position Mixin
    - http://hugogiraudel.com/2013/08/05/offsets-sass-mixin/

    @example:
        @include absolute(top 1em right 10%);
    @output:
        position: absolute;
        top: 1em;
        right: 10%;
*/
/*
    Hex to Rgba

    @exmple:
        @include hex-to-rgba(#333, 0.5);
    @output:
        color: #333; // The Fallback
        color: rgba(200, 54, 54, 0.5);
*/
/*
    Sizing Mixin

    @exmple:
        @include size(100%, 10px);
    @output:
        width: 100%;
        height: 10px;
*/
/*
    Calculate px to rem (font-size)

    @example:
        @include font-size(14px);
    @output:
        font-size: 14px;
        font-size: 1.4rem; // ie will ignore this line he not understand it at all
*/
/*
    Arrows Mixin

    $direction: top, left, right, bottom, top-left, top-right, bottom-left, bottom-right
    $color: hex, rgb or rbga
    $size: px or em

    @example:
        @include arrow(top, #000, 50px);
    @output:
        display: inline-block;
        height: 0;
        width: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 50px solid #000000;
*/
/*
    Hidpi Mixin
    - Hidpi Mixin help you to specify styles or load hi res image
      for hidpi resolutions such as retina or android amoled

    @example:
        @include hidpi {
            background-image('../img/some-image@2x.png') top left no-repeat;
        };
*/
/*
    Reset Unordered List

    @example:
        @include reset-ul-list;
    @output:
        list-style: none;
        margin: 0;
        padding: 0;
*/
/*
    Hide Text

    @example:
        @include hide-text;
    @output:
        text-indent: 110%;
        overflow: hidden;
        white-space: nowrap;
*/
/*
    Opacity
    - Cross browser opacity ie7 +, FF, Opera, Chrome etc...

    @example:
        @include opacity(0.5);
    @output:
        opacity: 50%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50%)";
        filter: alpha(opacity=50%); //IE8
*/
/*
    Placeholder
    - change text color or add italic to font only for placeholder

    @example:
        @include input-placeholder{
            font-style: italic;
            color: #000000;
        };
*/
/*
    Center-align a block level element
    - Lot of time you need to center some element in the middle
      this is a mixin who give you short code

    @example:
        @include center-block;
    @output:
        display: block;
        margin-left: auto;
        margin-right: auto;
*/
/*
    IE7 inline-block
    - Ie7 not suport inline-block and you need to add this hack if you support ie7

    @example:
        @include ie7-inline-block;
    @output:
        *display: inline; // IE7 inline-block hack
        *zoom: 1;
*/
/*
    Webkit-style focus
*/
/*
    Clearfix
*/
/*
    IE7 likes to collapse whitespace on either side of the inline-block elements.
    Ems because we're attempting to match the width of a space character. Left
    version is for form buttons, which typically come after other elements, and
    right version is for icons, which come before. Applying both is ok, but it will
    mean that space between those elements will be .6em (~2 space characters) in IE7,
    instead of the 1 space in other browsers.
*/
/*****************************************************************
    Default
*****************************************************************/
/* line 7, sass/shared/_default.scss */
html {
  font-size: 62.5%;
}

/* line 11, sass/shared/_default.scss */
body {
  font-family: "Open Sans", sans-serif, Helvetica, Arial;
  font-size: 14px;
  color: #333333;
  background: #ffffff;
  line-height: 1.4;
}

/* line 19, sass/shared/_default.scss */
a {
  color: #4283CF;
  text-decoration: none;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
/* line 24, sass/shared/_default.scss */
a:hover {
  color: #2d6ab1;
}

/* line 29, sass/shared/_default.scss */
h1 {
  font-size: 36px;
  font-size: 3.6rem;
}

/* line 33, sass/shared/_default.scss */
h2 {
  font-size: 24px;
  font-size: 2.4rem;
}

/* line 37, sass/shared/_default.scss */
h3 {
  font-size: 21px;
  font-size: 2.1rem;
}

/* line 41, sass/shared/_default.scss */
h4 {
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 45, sass/shared/_default.scss */
h5 {
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 49, sass/shared/_default.scss */
h6 {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 53, sass/shared/_default.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif, Helvetica, Arial;
}

/*****************************************************************
    Buttons
*****************************************************************/
/* line 8, sass/shared/_buttons.scss */
.free-account-button {
  padding: 13px 25px;
  width: 190px;
  display: inline-block;
  background: #F5A623;
  text-align: center;
  font-size: 13px;
  font-size: 1.3rem;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #FFFFFF;
}
/* line 18, sass/shared/_buttons.scss */
.free-account-button:hover {
  color: #FFFFFF;
  background: #db8c0a;
}

/*****************************************************************
    Icons
*****************************************************************/
/*****************************************************************
    Forms
*****************************************************************/
/* line 7, sass/shared/_forms.scss */
input[type=checkbox],
input[type=radio] {
  border: 1px solid #ffffff;
  background: #ffffff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  clear: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  height: 16px;
  margin: -4px -4px 0 0;
  outline: 0;
  padding: 0 !important;
  text-align: center;
  vertical-align: middle;
  width: 16px;
  min-width: 16px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}

/* line 30, sass/shared/_forms.scss */
input[type=radio] {
  border-radius: 50%;
}

/* line 34, sass/shared/_forms.scss */
input[type=checkbox]:checked,
input[type=radio]:checked {
  border-color: #ffffff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 40, sass/shared/_forms.scss */
input[type=checkbox]:before,
input[type=radio]:before {
  opacity: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 46, sass/shared/_forms.scss */
input[type=checkbox]:checked:before,
input[type=radio]:checked:before {
  float: left;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  speak: none;
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 58, sass/shared/_forms.scss */
input[type=checkbox]:checked:before {
  color: #19BB9B;
  font-size: 15px;
  font-family: FontAwesome;
  content: "\f00c";
  margin: 7px 0 0 0;
}

/* line 66, sass/shared/_forms.scss */
input[type=radio]:checked:before {
  content: '';
  background-color: #19BB9B;
  width: 10px;
  height: 10px;
  min-height: 10px;
  margin: 3px 0 0 3px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 77, sass/shared/_forms.scss */
input[disabled] {
  border-color: #DDD;
}

/* line 81, sass/shared/_forms.scss */
input[disabled]:checked {
  border-color: #DDD;
}

/* line 85, sass/shared/_forms.scss */
input[disabled]:checked:before {
  color: #DDD;
  background-color: #DDD;
}

/* line 90, sass/shared/_forms.scss */
input[disabled] + label {
  color: #A9A9A9;
}

/*****************************************************************
    Arrows
    - Depends for mixin arrow (look at structure/mixins)

    $direction: top, left, right, bottom, top-left, top-right, bottom-left, bottom-right
    $color: hex, rgb or rbga
    $size: px or em

    @example
    .element{
        @include arrow(top, #000, 50px);
    }
*****************************************************************/
/* line 17, sass/shared/_arrows.scss */
.arrow-top {
  display: inline-block;
  height: 0;
  width: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #333333;
}

/* line 22, sass/shared/_arrows.scss */
.arrow-bottom {
  display: inline-block;
  height: 0;
  width: 0;
  border-top: 6px solid #333333;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

/* line 27, sass/shared/_arrows.scss */
.arrow-left {
  display: inline-block;
  height: 0;
  width: 0;
  border-top: 6px solid transparent;
  border-right: 6px solid #333333;
  border-bottom: 6px solid transparent;
}

/* line 32, sass/shared/_arrows.scss */
.arrow-right {
  display: inline-block;
  height: 0;
  width: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #333333;
}

/* line 36, sass/shared/_arrows.scss */
.arrow-bottom-left {
  display: inline-block;
  height: 0;
  width: 0;
  border-bottom: 6px solid #333333;
  border-right: 6px solid transparent;
}

/*
    Structure
    - Base Structure (header, footer and layout)
      we also have pages sub-directory for specific styles for each page (home-page, contact-page etc...)
*/
/*****************************************************************
    Header
*****************************************************************/
/* line 6, sass/structure/_header.scss */
.header {
  width: 100%;
  height: 60px;
  background: #374249;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
}

/* line 15, sass/structure/_header.scss */
.nav {
  float: left;
  list-style: none;
  margin: 10px 0 10px 0;
  margin-left: 250px;
  padding: 0;
}
/* line 22, sass/structure/_header.scss */
.nav li {
  display: inline-block;
  font-size: 0px;
  font-size: 0rem;
  margin: 0px 15px;
}
/* line 27, sass/structure/_header.scss */
.nav li:first-child {
  margin-left: 0;
}
/* line 32, sass/structure/_header.scss */
.nav a {
  display: inline-block;
  font-size: 14px;
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: 300;
}
/* line 38, sass/structure/_header.scss */
.nav a:hover {
  color: #AFB8BA;
}
/* line 43, sass/structure/_header.scss */
.nav .analyze-recipe-button {
  background: #19BB9B;
  padding: 10px 20px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 48, sass/structure/_header.scss */
.nav .analyze-recipe-button:hover {
  background: #16a588;
  color: #ffffff;
}

/* line 56, sass/structure/_header.scss */
.upgrade-message {
  float: right;
  font-size: 12px;
  font-size: 1.2rem;
  color: #AFB8BA;
  font-weight: 300;
  margin: 20px 30px 21px 30px;
}
/* line 63, sass/structure/_header.scss */
.upgrade-message a {
  font-size: 14px;
  font-size: 1.4rem;
  color: #00CDBA;
  font-weight: 400;
}
/* line 68, sass/structure/_header.scss */
.upgrade-message a:hover {
  color: #00b3a3;
}

/* line 76, sass/structure/_header.scss */
.account-menu {
  float: right;
  background: #2A3339;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0;
  border-radius: 0 5px 0 0;
  position: relative;
}
/* line 82, sass/structure/_header.scss */
.account-menu:hover {
  background: #1f262a;
}
/* line 86, sass/structure/_header.scss */
.account-menu.current {
  background: #1f262a;
}
/* line 90, sass/structure/_header.scss */
.account-menu .account-open {
  display: block;
  padding: 10px 15px 10px 10px;
  overflow: hidden;
  height: 60px;
}
/* line 97, sass/structure/_header.scss */
.account-menu img {
  float: left;
  padding: 2px;
  width: 40px;
  height: 40px;
  background: #ffffff url("../img/user-placeholder.svg") center center no-repeat;
  background-size: 26px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 106, sass/structure/_header.scss */
.account-menu .account-data {
  float: left;
  padding: 0 10px;
}
/* line 111, sass/structure/_header.scss */
.account-menu .account-name {
  display: block;
  font-family: "Lato", sans-serif, Helvetica, Arial;
  color: #ffffff;
  font-weight: 300;
}
/* line 118, sass/structure/_header.scss */
.account-menu .account-role {
  display: block;
  font-family: "Lato", sans-serif, Helvetica, Arial;
  font-size: 10px;
  font-size: 1rem;
  color: #AFB8BA;
  font-weight: 300;
}
/* line 126, sass/structure/_header.scss */
.account-menu .arrow-bottom {
  display: inline-block;
  height: 0;
  width: 0;
  border-top: 6px solid #4D5D67;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  margin-top: 17px;
}

/* line 132, sass/structure/_header.scss */
.account-dropdown {
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  top: 60px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  right: 0;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  position: absolute;
  width: 100%;
  background: #1f262a;
  list-style: none;
  margin: 0;
  padding: 5px 20px 10px 20px;
  -moz-border-radius: 0 0 0 5px;
  -webkit-border-radius: 0;
  border-radius: 0 0 0 5px;
  z-index: 1000;
  display: none;
}
/* line 143, sass/structure/_header.scss */
.account-dropdown li {
  display: block;
  margin: 8px 0;
}
/* line 148, sass/structure/_header.scss */
.account-dropdown a {
  color: #AFB8BA;
  font-weight: 300;
  font-size: 13px;
  font-size: 1.3rem;
}
/* line 153, sass/structure/_header.scss */
.account-dropdown a:hover {
  color: #ffffff;
}
/* line 159, sass/structure/_header.scss */
.account-dropdown .logout:hover {
  color: #CB5555;
}

/*****************************************************************
    Footer
*****************************************************************/
/*****************************************************************
    Layout
*****************************************************************/
/* line 7, sass/structure/_layout.scss */
.wrapper {
  background: #ffffff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  display: block;
}

/* line 14, sass/structure/_layout.scss */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 12, ../../../../.rvm/gems/ruby-2.0.0-p576/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 19, sass/structure/_layout.scss */
.sidebar {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  min-width: 220px;
  background: #F5F5F5;
  padding: 15px;
  -moz-border-radius: 0 0 0 5px;
  -webkit-border-radius: 0;
  border-radius: 0 0 0 5px;
}

/* line 27, sass/structure/_layout.scss */
.content {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  padding: 30px 10px 30px 10px;
  position: relative;
}

/* line 33, sass/structure/_layout.scss */
.details-left {
  width: 57.62712%;
  float: left;
  margin-right: 1.69492%;
  padding-right: 20px;
}

/* line 38, sass/structure/_layout.scss */
.details-right {
  width: 40.67797%;
  float: right;
  margin-right: 0;
}

/*****************************************************************
    Home Page
*****************************************************************/
/*****************************************************************
    Dashboard Page
*****************************************************************/
/* line 6, sass/structure/pages/_dashboard-page.scss */
.dashboard-page,
.new-recipe-page {
  background: #AFB8BA;
  padding: 10px;
  position: relative;
}

/*
    Modules
    - Sections in project ( newsletter signup, custom autocomplete etc... )
      each of this section should be modular and can be movable without additional styles
*/
/*****************************************************************
    Brand
*****************************************************************/
/* line 5, sass/modules/_brand.scss */
.brand {
  margin: -65px 0 0 0;
  display: block;
  text-align: center;
  padding: 0 0 20px 0;
}
/* line 11, sass/modules/_brand.scss */
.brand img {
  margin: 0 auto;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 16, sass/modules/_brand.scss */
.brand h2 {
  font-size: 16px;
  font-size: 1.6rem;
  margin: 5px 0 0 0;
  font-weight: 400;
}
/* line 22, sass/modules/_brand.scss */
.brand a {
  color: #AFB8BA;
  padding: 1px;
  display: inline-block;
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: 300;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 30, sass/modules/_brand.scss */
.brand a:hover {
  text-decoration: underline;
}

/*****************************************************************
    Sidebar Nav
*****************************************************************/
/* line 6, sass/modules/_sidebar-nav.scss */
.sidebar-nav {
  list-style: none;
  padding: 0 5px;
  margin: 0 0 30px 0;
}
/* line 11, sass/modules/_sidebar-nav.scss */
.sidebar-nav .title {
  color: #AFB8BA;
  font-size: 12px;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 5px;
}
/* line 18, sass/modules/_sidebar-nav.scss */
.sidebar-nav li {
  display: block;
  color: #374249;
}
/* line 23, sass/modules/_sidebar-nav.scss */
.sidebar-nav a {
  display: block;
  padding: 5px 10px;
  font-size: 13px;
  font-size: 1.3rem;
  color: #374249;
}
/* line 29, sass/modules/_sidebar-nav.scss */
.sidebar-nav a:hover {
  color: black;
}
/* line 33, sass/modules/_sidebar-nav.scss */
.sidebar-nav a.current {
  background: #48A6B6;
  color: #ffffff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 39, sass/modules/_sidebar-nav.scss */
.sidebar-nav a.new-group-action {
  color: #5297D8;
}
/* line 44, sass/modules/_sidebar-nav.scss */
.sidebar-nav .edit-group {
  color: #5297D8;
  float: right;
  margin: 0;
  padding: 0;
  font-size: 12px;
  text-transform: none;
  opacity: 0;
}

/* line 57, sass/modules/_sidebar-nav.scss */
.groups-nav:hover .edit-group {
  opacity: 1;
}

/* line 63, sass/modules/_sidebar-nav.scss */
.category-edit {
  position: relative;
}
/* line 67, sass/modules/_sidebar-nav.scss */
.category-edit:hover .category-delete {
  opacity: 1;
}

/* line 73, sass/modules/_sidebar-nav.scss */
.category-input {
  padding: 8px 10px;
  width: 100%;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #dddddd;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 84, sass/modules/_sidebar-nav.scss */
.category-delete {
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  top: 0px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  right: -31px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  position: absolute;
  padding: 5px 4px 5px 4px;
  width: 32px;
  height: 32px;
  background: #CB5555;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  -moz-border-radius: 0px 2px 2px 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px 2px 2px 0px;
  opacity: 0;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/*****************************************************************
    New Group
*****************************************************************/
/* line 6, sass/modules/_new-group.scss */
.add-new-group {
  overflow: hidden;
  display: none;
  padding: 10px 0px;
}
/* line 11, sass/modules/_new-group.scss */
.add-new-group .new-group-field {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 8px 10px;
  font-size: 13px;
  font-size: 1.3rem;
  width: 100%;
  margin-bottom: 10px;
  font-weight: 300;
}
/* line 262, sass/shared/_mixins.scss */
.add-new-group .new-group-field::-webkit-input-placeholder {
  color: #AFB8BA;
}
/* line 266, sass/shared/_mixins.scss */
.add-new-group .new-group-field:-moz-placeholder {
  color: #AFB8BA;
}
/* line 270, sass/shared/_mixins.scss */
.add-new-group .new-group-field::-moz-placeholder {
  color: #AFB8BA;
}
/* line 274, sass/shared/_mixins.scss */
.add-new-group .new-group-field:-ms-input-placeholder {
  color: #AFB8BA;
}
/* line 26, sass/modules/_new-group.scss */
.add-new-group .new-group-button {
  float: right;
  padding: 8px 15px;
  background: #19BB9B;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #ffffff;
  font-size: 13px;
  font-size: 1.3rem;
  border: 0px none;
}
/* line 35, sass/modules/_new-group.scss */
.add-new-group .new-group-button:hover {
  background: #16a588;
  color: #ffffff;
}

/*****************************************************************
    Headline
*****************************************************************/
/* line 6, sass/modules/_headline.scss */
.headline {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
/* line 12, sass/modules/_headline.scss */
.headline h2 {
  float: left;
  margin: 0 0 10px 0;
}

/* line 19, sass/modules/_headline.scss */
.headeline-details {
  color: #AFB8BA;
  clear: both;
  margin-top: 5px;
}

/* line 26, sass/modules/_headline.scss */
.search-form {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  position: relative;
  border-left: 1px solid #EDEDED;
  padding: 0px 0px 0px 20px;
  margin: 4px 0px 0px 20px;
}

/* line 35, sass/modules/_headline.scss */
.search-field {
  background: #ffffff url("../img/icons/search-icon.png") 0px 5px no-repeat;
  padding: 6px 15px 6px 25px;
  border: 0px none;
  width: 100%;
}
@media only all and (min--moz-device-pixel-ratio: 1.5), only all and (-o-min-device-pixel-ratio: 3 / 2), only all and (-webkit-min-device-pixel-ratio: 1.5), only all and (min-device-pixel-ratio: 1.5), only all and (min-resolution: 144dpi), only all and (min-resolution: 1.5dppx) {
  /* line 35, sass/modules/_headline.scss */
  .search-field {
    background: #ffffff url("../img/icons/search-icon@2x.png") 0px 5px no-repeat;
    background-size: 16px;
  }
}
/* line 262, sass/shared/_mixins.scss */
.search-field::-webkit-input-placeholder {
  color: #AFB8BA;
  font-weight: 300;
}
/* line 266, sass/shared/_mixins.scss */
.search-field:-moz-placeholder {
  color: #AFB8BA;
  font-weight: 300;
}
/* line 270, sass/shared/_mixins.scss */
.search-field::-moz-placeholder {
  color: #AFB8BA;
  font-weight: 300;
}
/* line 274, sass/shared/_mixins.scss */
.search-field:-ms-input-placeholder {
  color: #AFB8BA;
  font-weight: 300;
}
/* line 51, sass/modules/_headline.scss */
.search-field:focus {
  outline: none;
  background: #ffffff url("../img/icons/search-dark-icon.png") 0px 5px no-repeat;
}
@media only all and (min--moz-device-pixel-ratio: 1.5), only all and (-o-min-device-pixel-ratio: 3 / 2), only all and (-webkit-min-device-pixel-ratio: 1.5), only all and (min-device-pixel-ratio: 1.5), only all and (min-resolution: 144dpi), only all and (min-resolution: 1.5dppx) {
  /* line 51, sass/modules/_headline.scss */
  .search-field:focus {
    background: #ffffff url("../img/icons/search-dark-icon@2x.png") 0px 5px no-repeat;
    background-size: 16px;
  }
}

/* line 64, sass/modules/_headline.scss */
.search-results {
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  top: 35px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  left: 0px;
  position: absolute;
  width: 100%;
  padding: 0;
  background: #ffffff;
  border: 1px solid #EDEDED;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  z-index: 1000;
  display: none;
}
/* line 74, sass/modules/_headline.scss */
.search-results ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 77, sass/modules/_headline.scss */
.search-results ul li {
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #EDEDED;
}
/* line 82, sass/modules/_headline.scss */
.search-results ul li:last-child {
  border-bottom: 0px solid #EDEDED;
}
/* line 86, sass/modules/_headline.scss */
.search-results ul li:hover {
  background: #f5f5f5;
}
/* line 90, sass/modules/_headline.scss */
.search-results ul li p {
  margin: 0;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: 400;
}
/* line 96, sass/modules/_headline.scss */
.search-results ul li span {
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
  color: #AFB8BA;
}
/* line 104, sass/modules/_headline.scss */
.search-results ul .nothing-found p {
  color: #CB5555;
}

/*****************************************************************
    Actions
*****************************************************************/
/* line 6, sass/modules/_actions.scss */
.actions-holder {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #F5F5F5;
  padding: 10px;
  clear: both;
  margin: 0px 0 30px 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 15, sass/modules/_actions.scss */
.action-dropdown-list {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 19, sass/modules/_actions.scss */
.action-dropdown-list li {
  float: left;
  position: relative;
}

/* line 26, sass/modules/_actions.scss */
.single-filter {
  float: left;
  background: #ffffff;
  padding: 5px 15px;
  margin-right: 10px;
  color: #9B9B9B;
  border: 1px solid #EDEDED;
  font-size: 13px;
  font-size: 1.3rem;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 36, sass/modules/_actions.scss */
.single-filter:hover {
  color: #333333;
  border: 1px solid lightgray;
}
/* line 41, sass/modules/_actions.scss */
.single-filter.current {
  background: #48A6B6;
  border: 1px solid #48A6B6;
  color: #ffffff;
}
/* line 46, sass/modules/_actions.scss */
.single-filter.current:hover {
  border: 1px solid #3a8591;
}

/* line 54, sass/modules/_actions.scss */
.double-filter {
  float: left;
  background: #ffffff;
  padding: 5px 15px;
  margin-right: -1px;
  color: #9B9B9B;
  border: 1px solid #EDEDED;
  font-size: 13px;
  font-size: 1.3rem;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 64, sass/modules/_actions.scss */
.double-filter:hover {
  color: #333333;
  border: 1px solid lightgray;
}
/* line 69, sass/modules/_actions.scss */
.double-filter.current {
  background: #48A6B6;
  border: 1px solid #48A6B6;
  color: #ffffff;
}
/* line 74, sass/modules/_actions.scss */
.double-filter.current:hover {
  border: 1px solid #3a8591;
}
/* line 79, sass/modules/_actions.scss */
.double-filter.last {
  margin-right: 10px;
}

/* line 84, sass/modules/_actions.scss */
.remove-button {
  color: #CB5555;
}

/* line 88, sass/modules/_actions.scss */
.action-dropdown {
  background: #ffffff;
  padding: 5px 6px;
  border: 1px solid #EDEDED;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  top: 29px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  left: 0;
  position: absolute;
  min-width: 160px;
  z-index: 1000;
  display: none;
}
/* line 98, sass/modules/_actions.scss */
.action-dropdown a {
  display: block;
  color: #9B9B9B;
  font-size: 13px;
  font-size: 1.3rem;
  margin: 5px;
}
/* line 104, sass/modules/_actions.scss */
.action-dropdown a:hover {
  color: #686868;
}

/* line 112, sass/modules/_actions.scss */
.sort {
  float: right;
}
/* line 115, sass/modules/_actions.scss */
.sort span {
  float: left;
  margin: 5px 5px 0 0;
}

/* line 123, sass/modules/_actions.scss */
.more-filters {
  background: #ffffff url("../img/icons/more-filters-icon.png") 13px 12px no-repeat;
  width: 46px;
}
@media only all and (min--moz-device-pixel-ratio: 1.5), only all and (-o-min-device-pixel-ratio: 3 / 2), only all and (-webkit-min-device-pixel-ratio: 1.5), only all and (min-device-pixel-ratio: 1.5), only all and (min-resolution: 144dpi), only all and (min-resolution: 1.5dppx) {
  /* line 123, sass/modules/_actions.scss */
  .more-filters {
    background: #ffffff url("../img/icons/more-filters-icon@2x.png") 13px 12px no-repeat;
    background-size: 19px;
  }
}

/*****************************************************************
    Results
*****************************************************************/
/* line 6, sass/modules/_results.scss */
.results-holder {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  clear: both;
}

/* line 13, sass/modules/_results.scss */
.results {
  list-style: none;
  margin: 0;
  padding: 0;
  *zoom: 1;
}
/* line 333, sass/shared/_mixins.scss */
.results:before, .results:after {
  display: table;
  content: "";
}
/* line 339, sass/shared/_mixins.scss */
.results:after {
  clear: both;
}

/* line 19, sass/modules/_results.scss */
.results-item {
  position: relative;
  width: 23.72881%;
  float: left;
  margin-bottom: 1.69492%;
  background: #ffffff;
  border: 1px solid #EDEDED;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: 200px;
}
/* line 66, ../../../../.rvm/gems/ruby-2.0.0-p576/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
.results-item:nth-child(4n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../../../.rvm/gems/ruby-2.0.0-p576/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
.results-item:nth-child(4n + 2) {
  margin-left: 25.42373%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../.rvm/gems/ruby-2.0.0-p576/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
.results-item:nth-child(4n + 3) {
  margin-left: 50.84746%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../.rvm/gems/ruby-2.0.0-p576/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
.results-item:nth-child(4n + 4) {
  margin-left: 76.27119%;
  margin-right: -100%;
  clear: none;
}
/* line 28, sass/modules/_results.scss */
.results-item.in-progress-item {
  border: 1px solid #CB5555;
}
/* line 32, sass/modules/_results.scss */
.results-item:hover {
  border: 1px solid #42BFFF;
}
/* line 35, sass/modules/_results.scss */
.results-item:hover .result-info {
  opacity: 1;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 41, sass/modules/_results.scss */
.results-item .result-image {
  position: relative;
  width: 100%;
  height: 140px;
  background: url("../../img/recipe-placeholder@2x.png") center center no-repeat;
  background-size: 100% 140px;
}
/* line 48, sass/modules/_results.scss */
.results-item .verified {
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  top: 1px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  left: 1px;
  position: absolute;
  background: #ffffff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 3px 5px;
  color: #19BB9B;
  font-size: 10px;
  font-size: 1rem;
}
/* line 57, sass/modules/_results.scss */
.results-item .in-progress {
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  bottom: 1px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  left: 1px;
  position: absolute;
  background: #CB5555;
  -moz-border-radius: 0px 2px 2px 0;
  -webkit-border-radius: 0px;
  border-radius: 0px 2px 2px 0;
  padding: 3px 5px;
  color: #ffffff;
  font-size: 10px;
  font-size: 1rem;
  display: none;
}
/* line 67, sass/modules/_results.scss */
.results-item .result-details {
  width: 100%;
  overflow: hidden;
  padding: 10px;
}
/* line 73, sass/modules/_results.scss */
.results-item h3 {
  margin: 0 0 3px 0;
  font-size: 14px;
  font-size: 1.4rem;
}
/* line 78, sass/modules/_results.scss */
.results-item a {
  color: #4A4A4A;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 400;
}
/* line 84, sass/modules/_results.scss */
.results-item .recipe-category {
  float: left;
  font-size: 12px;
  font-size: 1.2rem;
  color: #AFB8BA;
}
/* line 90, sass/modules/_results.scss */
.results-item .recipe-time {
  float: right;
  font-size: 10px;
  font-size: 1rem;
  color: #AFB8BA;
}

/* line 97, sass/modules/_results.scss */
.result-info {
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  top: 0;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  left: 0;
  position: absolute;
  background: #374249;
  /* The Fallback */
  background: rgba(55, 66, 73, 0.85);
  width: 100%;
  height: 198px;
  padding: 10px;
  opacity: 0;
  -moz-transform: scale(0.98);
  -ms-transform: scale(0.98);
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 106, sass/modules/_results.scss */
.result-info.checked {
  opacity: 1;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 111, sass/modules/_results.scss */
.result-info .checkbox {
  float: right;
}
/* line 115, sass/modules/_results.scss */
.result-info h3 {
  font-size: 14px;
  font-size: 1.4rem;
  color: #ffffff;
}
/* line 120, sass/modules/_results.scss */
.result-info p {
  margin: 0;
  font-size: 12px;
  font-size: 1.2rem;
  color: #ffffff;
}
/* line 126, sass/modules/_results.scss */
.result-info .category-info {
  float: left;
  margin: 10px 0 0 0;
}
/* line 130, sass/modules/_results.scss */
.result-info .category-info span {
  display: block;
  font-size: 10px;
  font-size: 1rem;
}
/* line 135, sass/modules/_results.scss */
.result-info .category-info .cate {
  color: #BDC5C6;
}
/* line 139, sass/modules/_results.scss */
.result-info .category-info .nutrilabel {
  color: #05CBCF;
}
/* line 144, sass/modules/_results.scss */
.result-info .nutrition-info {
  float: right;
  margin: 10px 0 0 0;
}
/* line 148, sass/modules/_results.scss */
.result-info .nutrition-info span {
  display: block;
  color: #ffffff;
  font-size: 11px;
  font-size: 1.1rem;
  text-transform: uppercase;
}
/* line 156, sass/modules/_results.scss */
.result-info .details-button {
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  bottom: 10px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  left: 10px;
  position: absolute;
  width: 90%;
  padding: 10px 0;
  background: #48A6B6;
  color: #ffffff;
  clear: both;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
}
/* line 166, sass/modules/_results.scss */
.result-info .details-button:hover {
  background: #4195a4;
}

/* line 172, sass/modules/_results.scss */
.no-results {
  display: block;
  overflow: hidden;
  background: #F3F2EE url("../img/no-results.svg") center right no-repeat;
  border: 1px solid #EDEDED;
  height: 142px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 30px;
}
/* line 181, sass/modules/_results.scss */
.no-results h3 {
  margin: 0px 0px 5px 0px;
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 185, sass/modules/_results.scss */
.no-results p {
  margin: 0;
}
/* line 188, sass/modules/_results.scss */
.no-results a {
  font-weight: 700;
  color: #19BB9B;
}

/*****************************************************************
    Pagination
*****************************************************************/
/* line 6, sass/modules/_pagination.scss */
.pagination-holder {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  clear: both;
  padding: 20px 0;
}
/* line 12, sass/modules/_pagination.scss */
.pagination-holder a {
  display: inline-block;
  background: #48A6B6;
  border: 1px solid #48A6B6;
  color: #ffffff;
  padding: 10px 25px;
  margin: 0 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 21, sass/modules/_pagination.scss */
.pagination-holder a:hover {
  background: #4195a4;
  border: 1px solid #4195a4;
}
/* line 27, sass/modules/_pagination.scss */
.pagination-holder .last-pag {
  background: #ffffff;
  border: 1px solid #EDEDED;
  color: #AFB8BA;
}
/* line 32, sass/modules/_pagination.scss */
.pagination-holder .last-pag:hover {
  background: #f2f2f2;
  border: 1px solid #e0e0e0;
}

/*****************************************************************
    New Recipe
*****************************************************************/
/* line 6, sass/modules/_form-holder.scss */
.form-holder {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  position: relative;
}
/* line 10, sass/modules/_form-holder.scss */
.form-holder fieldset {
  border: 0px none;
  padding: 20px 0 0 0;
  clear: both;
}
/* line 16, sass/modules/_form-holder.scss */
.form-holder label {
  display: block;
  margin-bottom: 5px;
}
/* line 21, sass/modules/_form-holder.scss */
.form-holder .useful-info {
  float: right;
  font-style: italic;
  font-size: 12px;
  font-size: 1.2rem;
  margin-top: 3px;
  color: #999999;
}
/* line 29, sass/modules/_form-holder.scss */
.form-holder .input-field,
.form-holder textarea,
.form-holder .select-holder {
  width: 100%;
  padding: 10px 12px;
  display: block;
  border: 1px solid #DDDDDD;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-weight: 300;
}
/* line 262, sass/shared/_mixins.scss */
.form-holder .input-field::-webkit-input-placeholder,
.form-holder textarea::-webkit-input-placeholder,
.form-holder .select-holder::-webkit-input-placeholder {
  color: #AFB8BA;
  font-weight: 300;
}
/* line 266, sass/shared/_mixins.scss */
.form-holder .input-field:-moz-placeholder,
.form-holder textarea:-moz-placeholder,
.form-holder .select-holder:-moz-placeholder {
  color: #AFB8BA;
  font-weight: 300;
}
/* line 270, sass/shared/_mixins.scss */
.form-holder .input-field::-moz-placeholder,
.form-holder textarea::-moz-placeholder,
.form-holder .select-holder::-moz-placeholder {
  color: #AFB8BA;
  font-weight: 300;
}
/* line 274, sass/shared/_mixins.scss */
.form-holder .input-field:-ms-input-placeholder,
.form-holder textarea:-ms-input-placeholder,
.form-holder .select-holder:-ms-input-placeholder {
  color: #AFB8BA;
  font-weight: 300;
}
/* line 44, sass/modules/_form-holder.scss */
.form-holder .input-field:hover, .form-holder .input-field.hover,
.form-holder textarea:hover,
.form-holder textarea.hover,
.form-holder .select-holder:hover,
.form-holder .select-holder.hover {
  border: 1px solid #c4c4c4;
}
/* line 49, sass/modules/_form-holder.scss */
.form-holder .input-field:focus, .form-holder .input-field.focus,
.form-holder textarea:focus,
.form-holder textarea.focus,
.form-holder .select-holder:focus,
.form-holder .select-holder.focus {
  border: 1px solid #b7b7b7;
}
/* line 54, sass/modules/_form-holder.scss */
.form-holder .input-field:disabled,
.form-holder textarea:disabled,
.form-holder .select-holder:disabled {
  background: #f5f5f5;
}
/* line 59, sass/modules/_form-holder.scss */
.form-holder .arrow-icon {
  display: inline-block;
  height: 0;
  width: 0;
  border-top: 6px solid #333333;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  top: 18px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  right: 12px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  position: absolute;
}
/* line 64, sass/modules/_form-holder.scss */
.form-holder textarea {
  height: 120px;
  resize: none;
}
/* line 69, sass/modules/_form-holder.scss */
.form-holder .select-field {
  width: 100%;
}
/* line 73, sass/modules/_form-holder.scss */
.form-holder .img_delete:before {
  color: #ffffff;
  content: '✕';
}
/* line 78, sass/modules/_form-holder.scss */
.form-holder .img_delete {
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  top: -10px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  right: -10px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: block;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background-color: #48a6b6;
  color: white;
  text-align: center;
  opacity: 0;
}
/* line 90, sass/modules/_form-holder.scss */
.form-holder .new-recipe-button {
  float: right;
  background: #19bb9b;
  color: #fff;
  padding: 12px 30px;
  border: 0 none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
/* line 99, sass/modules/_form-holder.scss */
.form-holder .new-recipe-button:hover {
  background: #16a588;
}

/* line 105, sass/modules/_form-holder.scss */
.upload-images {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 108, sass/modules/_form-holder.scss */
.upload-images li {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
  width: 200px;
  height: 140px;
  border: 1px solid #DDDDDD;
}
/* line 116, sass/modules/_form-holder.scss */
.upload-images li img {
  width: 100%;
  height: 100%;
}
/* line 120, sass/modules/_form-holder.scss */
.upload-images li:nth-child(2n+2) {
  margin-right: 0;
}
/* line 125, sass/modules/_form-holder.scss */
.upload-images li:hover .img_delete {
  opacity: 1;
}

/* line 132, sass/modules/_form-holder.scss */
.upload-single-image {
  width: 170px;
  height: 170px;
  border: 1px solid #DDDDDD;
  position: relative;
  padding: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 139, sass/modules/_form-holder.scss */
.upload-single-image img {
  width: 100%;
  height: 100%;
}
/* line 144, sass/modules/_form-holder.scss */
.upload-single-image:hover .img_delete {
  opacity: 1;
}
/* line 149, sass/modules/_form-holder.scss */
.upload-single-image.user-image {
  background: url("../img/user-placeholder.svg") center center no-repeat;
}
/* line 153, sass/modules/_form-holder.scss */
.upload-single-image .upload-image-button {
  margin: 0;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  top: 70px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  left: 15px;
  position: absolute;
}

/* line 159, sass/modules/_form-holder.scss */
.upload-progress {
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  top: 0;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  left: 0;
  position: absolute;
  height: 100%;
  background: #AFB8BA;
  opacity: 0.7;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 167, sass/modules/_form-holder.scss */
.upload-item-holder {
  position: relative;
  background: url("../../img/recipe-placeholder@2x.png") center center no-repeat;
  background-size: 200px 140px;
}

/* line 173, sass/modules/_form-holder.scss */
.upload-image-button {
  width: 140px;
  padding: 10px 0;
  background: #48a6b6;
  text-align: center;
  display: block;
  color: #fff;
  position: relative;
  cursor: pointer;
  margin: 51px auto;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  z-index: 9;
}
/* line 186, sass/modules/_form-holder.scss */
.upload-image-button:hover {
  background: #4195a4;
  color: #fff;
}
/* line 192, sass/modules/_form-holder.scss */
.upload-image-button .upload-field {
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  top: 0;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  left: 0;
  position: absolute;
  width: 100%;
  height: 40px;
  opacity: 0;
}

/* line 199, sass/modules/_form-holder.scss */
.change-image-button {
  width: 52px;
  padding: 3px 0 5px 0;
  background: #ffffff;
  text-align: center;
  display: block;
  color: #48A6B6;
  font-size: 10px;
  font-size: 1rem;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  top: 2px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  right: 2px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  position: absolute;
  cursor: pointer;
  -moz-border-radius: 0px 0px 0px 2px;
  -webkit-border-radius: 0px;
  border-radius: 0px 0px 0px 2px;
  z-index: 9;
}
/* line 212, sass/modules/_form-holder.scss */
.change-image-button:hover {
  background: #fafafa;
  color: #48A6B6;
}
/* line 217, sass/modules/_form-holder.scss */
.change-image-button .change-field {
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  top: 0;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  left: 0;
  position: absolute;
  width: 100%;
  height: 24px;
  opacity: 0;
  cursor: pointer;
}

/* line 225, sass/modules/_form-holder.scss */
.floating-section,
.floating-right {
  width: 200px;
  padding: 15px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 231, sass/modules/_form-holder.scss */
.floating-section .double-filter,
.floating-right .double-filter {
  margin-bottom: 10px;
}
/* line 235, sass/modules/_form-holder.scss */
.floating-section h4,
.floating-right h4 {
  margin: 0 0 10px 0;
  font-size: 14px;
  font-size: 1.4rem;
  color: #19bb9b;
  font-weight: 400;
}
/* line 242, sass/modules/_form-holder.scss */
.floating-section p,
.floating-right p {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 10px 0;
  font-size: 12px;
  font-size: 1.2rem;
}
/* line 250, sass/modules/_form-holder.scss */
.floating-section hr,
.floating-right hr {
  width: 100%;
  border: 0px none;
  height: 1px;
  background: #DDDDDD;
}
/* line 257, sass/modules/_form-holder.scss */
.floating-section .recipe-name,
.floating-right .recipe-name {
  color: #333333;
}
/* line 261, sass/modules/_form-holder.scss */
.floating-section .cart-price,
.floating-right .cart-price {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
}
/* line 266, sass/modules/_form-holder.scss */
.floating-section .small-message,
.floating-right .small-message {
  font-style: italic;
  font-size: 10px;
  font-size: 1rem;
  color: #9B9B9B;
  margin-bottom: 0;
}

/* line 274, sass/modules/_form-holder.scss */
.floating-section {
  background: #f5f5f5;
  border: 1px solid #DDDDDD;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  top: 74px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  right: -240px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  position: absolute;
}

/* line 280, sass/modules/_form-holder.scss */
.floating-right {
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  top: 0px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  right: -240px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  position: absolute;
}
/* line 283, sass/modules/_form-holder.scss */
.floating-right fieldset {
  padding-top: 0;
}

/* line 288, sass/modules/_form-holder.scss */
.upgrade-plan {
  width: 170px;
  height: 116px;
  border: 1px solid #DDDDDD;
  margin-top: 30px;
  padding: 15px 0px;
  text-align: center;
}
/* line 295, sass/modules/_form-holder.scss */
.upgrade-plan p {
  font-size: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  color: #AFB8BA;
  margin: 0;
}
/* line 302, sass/modules/_form-holder.scss */
.upgrade-plan h2 {
  font-size: 24px;
  font-size: 2.4rem;
  color: #48A6B6;
  font-weight: 300;
  margin: 0;
}
/* line 309, sass/modules/_form-holder.scss */
.upgrade-plan a {
  background: #19BB9B;
  padding: 10px 15px;
  font-size: 11px;
  font-size: 1.1rem;
  color: #ffffff;
  margin-top: 6px;
  display: inline-block;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 318, sass/modules/_form-holder.scss */
.upgrade-plan a:hover {
  background: #16a588;
  color: #ffffff;
}

/*****************************************************************
    Breadcrumbs
*****************************************************************/
/* line 6, sass/modules/_breadcrumbs.scss */
.breadcrumbs-holder {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: -25px;
}
/* line 11, sass/modules/_breadcrumbs.scss */
.breadcrumbs-holder li {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  font-size: 1.2rem;
  color: #BDC5C6;
}
/* line 18, sass/modules/_breadcrumbs.scss */
.breadcrumbs-holder a {
  font-size: 12px;
  font-size: 1.2rem;
}

/*****************************************************************
    Badges and Labels
*****************************************************************/
/* line 7, sass/modules/_badges-labels.scss */
.paleo-badge, .vegetarian-badge, .vegan-badge, .heart-healthy-badge, .dairy-free-badge, .gluten-free-badge, .high-protein-badge, .low-carb-badge, .low-sodium-badge, .low-calorie-badge, .low-fat-badge, .mediterranean-badge, .pescetarian-badge {
  display: inline-block;
  font-size: 10px;
  font-size: 1rem;
  color: #ffffff;
  padding: 2px 8px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin-left: 5px;
}

/* line 17, sass/modules/_badges-labels.scss */
.paleo-badge {
  background: #28267A;
}

/* line 23, sass/modules/_badges-labels.scss */
.vegetarian-badge {
  background: #28C07A;
}

/* line 29, sass/modules/_badges-labels.scss */
.vegan-badge {
  background: #E685FF;
}

/* line 35, sass/modules/_badges-labels.scss */
.heart-healthy-badge {
  background: #DE2315;
}

/* line 41, sass/modules/_badges-labels.scss */
.dairy-free-badge {
  background: #B871C7;
}

/* line 47, sass/modules/_badges-labels.scss */
.gluten-free-badge {
  background: #C7E81C;
}

/* line 53, sass/modules/_badges-labels.scss */
.high-protein-badge {
  background: #12360F;
}

/* line 59, sass/modules/_badges-labels.scss */
.low-carb-badge {
  background: #41BDFB;
}

/* line 65, sass/modules/_badges-labels.scss */
.low-sodium-badge {
  background: #C7BDA6;
}

/* line 71, sass/modules/_badges-labels.scss */
.low-calorie-badge {
  background: #C7A6C6;
}

/* line 77, sass/modules/_badges-labels.scss */
.low-fat-badge {
  background: #2CBCC7;
}

/* line 83, sass/modules/_badges-labels.scss */
.mediterranean-badge {
  background: #C75966;
}

/* line 89, sass/modules/_badges-labels.scss */
.pescetarian-badge {
  background: #295966;
}

/* line 95, sass/modules/_badges-labels.scss */
.certified-badge {
  background: #19BB9B;
  display: inline-block;
  font-size: 10px;
  font-size: 1rem;
  color: #ffffff;
  padding: 2px 8px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

/*****************************************************************
    Recipe Details
*****************************************************************/
/* line 9, sass/modules/_recipe-details.scss */
.recipe-details-holder .recipe-headline {
  border-top: 1px solid #DDDDDD;
}
/* line 14, sass/modules/_recipe-details.scss */
.recipe-details-holder h2 {
  font-size: 18px;
  font-size: 1.8rem;
  margin: -14px 0 10px 0;
  background: #ffffff;
  float: left;
  padding-right: 10px;
}

/* line 24, sass/modules/_recipe-details.scss */
.recipe-details {
  list-style: none;
  margin: 10px 0 50px 0;
  padding: 0;
  clear: both;
  display: block;
}
/* line 31, sass/modules/_recipe-details.scss */
.recipe-details li {
  display: block;
  padding: 2px 5px;
  margin: 0 -5px;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
/* line 37, sass/modules/_recipe-details.scss */
.recipe-details li:hover {
  background: #EFF4FB;
}

/* line 44, sass/modules/_recipe-details.scss */
.cooking-steps {
  margin-top: 30px;
}
/* line 47, sass/modules/_recipe-details.scss */
.cooking-steps li {
  margin: 20px -5px;
}
/* line 50, sass/modules/_recipe-details.scss */
.cooking-steps li:hover {
  background: none;
}
/* line 56, sass/modules/_recipe-details.scss */
.cooking-steps .cooking-number {
  display: inline-block;
  margin: -5px 10px 0 0;
  background: #f5f5f5;
  width: 30px;
  height: 30px;
  padding: 5px 0px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  vertical-align: top;
}
/* line 67, sass/modules/_recipe-details.scss */
.cooking-steps .cooking-content {
  display: inline-block;
  width: 90%;
}

/* line 74, sass/modules/_recipe-details.scss */
.recipe-gallery {
  display: block;
  clear: both;
  padding: 5px;
  border: 1px solid #dddddd;
  margin-bottom: 50px;
}
/* line 81, sass/modules/_recipe-details.scss */
.recipe-gallery div {
  font-size: 0px;
  font-size: 0rem;
}
/* line 85, sass/modules/_recipe-details.scss */
.recipe-gallery img {
  width: 100%;
}
/* line 90, sass/modules/_recipe-details.scss */
.recipe-gallery.slick-slider {
  margin-bottom: 80px;
}

/* line 95, sass/modules/_recipe-details.scss */
.recipe-actions {
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  top: 20px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If everything is okay
      We assign the according value to the current offset
  */
  right: 40px;
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  /*
      If current offset found in $args
      assigns its index to $i
      Or `false` if not found
  */
  /*
      Now we do the verifications
      1. Is the offset listed in $args? (not false)
      2. Is the offset value within the list range?
      3. Is the offset value valid?
  */
  position: absolute;
}
/* line 98, sass/modules/_recipe-details.scss */
.recipe-actions .edit-recipe {
  background: #ffffff;
  border: 1px solid #DDDDDD;
  padding: 5px 10px;
  text-align: center;
  color: #4A90E2;
  font-size: 12px;
  font-size: 1.2rem;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/*****************************************************************
    Nutrition Facts
*****************************************************************/
/* line 6, sass/modules/_nutrition-facts.scss */
.nutrition-facts-holder {
  display: block;
  width: 100%;
  background: #ffffff;
  border: 1px solid #AFB8BA;
  clear: both;
  font-size: 13px;
  font-size: 1.3rem;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 16, sass/modules/_nutrition-facts.scss */
.nutrition-facts-title {
  list-style: none;
  margin: 0;
  background: #F5F5F5;
  display: block;
  padding: 10px;
  color: #9B9B9B;
  border-top: 2px solid #AFB8BA;
  border-bottom: 2px solid #AFB8BA;
}
/* line 26, sass/modules/_nutrition-facts.scss */
.nutrition-facts-title .nutri-value {
  color: #47545B;
  float: right;
  text-align: right;
}

/* line 34, sass/modules/_nutrition-facts.scss */
.nutrition-facts-content {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  color: #47545B;
}
/* line 39, sass/modules/_nutrition-facts.scss */
.nutrition-facts-content li {
  border-bottom: 1px solid #dddddd;
  padding: 4px 10px;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
/* line 44, sass/modules/_nutrition-facts.scss */
.nutrition-facts-content li:hover {
  background: #EFF4FB;
}
/* line 48, sass/modules/_nutrition-facts.scss */
.nutrition-facts-content li:last-child {
  border-bottom: 0px solid #dddddd;
}
/* line 53, sass/modules/_nutrition-facts.scss */
.nutrition-facts-content .daily-value {
  text-align: right;
  color: #9B9B9B;
}
/* line 58, sass/modules/_nutrition-facts.scss */
.nutrition-facts-content .nutri-value {
  color: #47545B;
  float: right;
  text-align: right;
  font-weight: 600;
}

/*
    Help Classes
*/
/*****************************************************************
    Utility
*****************************************************************/
/* line 7, sass/shared/_utilities.scss */
.pull-right {
  float: right;
}

/* line 11, sass/shared/_utilities.scss */
.pull-left {
  float: left;
}

/* line 16, sass/shared/_utilities.scss */
.pull-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 21, sass/shared/_utilities.scss */
.hide {
  display: none;
}

/* line 25, sass/shared/_utilities.scss */
.show {
  display: block;
}

/* line 30, sass/shared/_utilities.scss */
.invisible {
  visibility: hidden;
}

/* line 35, sass/shared/_utilities.scss */
.hide-text {
  text-indent: 110%;
  overflow: hidden;
  white-space: nowrap;
}

/*
    Vendor
    - All plugins across web ( autocomplete, jquery-ui etc... )
*/
/* Slider */
/* line 40, sass/modules/vendor/slick/_slick.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 55, sass/modules/vendor/slick/_slick.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 62, sass/modules/vendor/slick/_slick.scss */
.slick-list:focus {
  outline: none;
}
/* line 66, sass/modules/vendor/slick/_slick.scss */
.slick-loading .slick-list {
  background: #fff url('/img/ajax-loader.gif') center center no-repeat;
}
/* line 70, sass/modules/vendor/slick/_slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 75, sass/modules/vendor/slick/_slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 84, sass/modules/vendor/slick/_slick.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
/* line 90, sass/modules/vendor/slick/_slick.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
/* line 96, sass/modules/vendor/slick/_slick.scss */
.slick-track:after {
  clear: both;
}
/* line 100, sass/modules/vendor/slick/_slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 104, sass/modules/vendor/slick/_slick.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
/* line 108, sass/modules/vendor/slick/_slick.scss */
[dir="rtl"] .slick-slide {
  float: right;
}
/* line 111, sass/modules/vendor/slick/_slick.scss */
.slick-slide img {
  display: block;
}
/* line 114, sass/modules/vendor/slick/_slick.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 120, sass/modules/vendor/slick/_slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}
/* line 124, sass/modules/vendor/slick/_slick.scss */
.slick-initialized .slick-slide {
  display: block;
}
/* line 128, sass/modules/vendor/slick/_slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}
/* line 132, sass/modules/vendor/slick/_slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url('/fonts/slick.eot?1416254072');
  src: url('/fonts/slick.eot?&1416254072#iefix') format("embedded-opentype"), url('/fonts/slick.woff?1416254072') format("woff"), url('/fonts/slick.ttf?1416254072') format("truetype"), url('/fonts/slick.svg?1416254072#slick') format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
/* line 155, sass/modules/vendor/slick/_slick.scss */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
/* line 171, sass/modules/vendor/slick/_slick.scss */
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
/* line 175, sass/modules/vendor/slick/_slick.scss */
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
/* line 179, sass/modules/vendor/slick/_slick.scss */
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

/* line 183, sass/modules/vendor/slick/_slick.scss */
.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 192, sass/modules/vendor/slick/_slick.scss */
.slick-prev {
  left: -25px;
}
/* line 194, sass/modules/vendor/slick/_slick.scss */
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
/* line 198, sass/modules/vendor/slick/_slick.scss */
.slick-prev:before {
  content: "←";
}
/* line 200, sass/modules/vendor/slick/_slick.scss */
[dir="rtl"] .slick-prev:before {
  content: "→";
}

/* line 205, sass/modules/vendor/slick/_slick.scss */
.slick-next {
  right: -25px;
}
/* line 207, sass/modules/vendor/slick/_slick.scss */
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
/* line 211, sass/modules/vendor/slick/_slick.scss */
.slick-next:before {
  content: "→";
}
/* line 213, sass/modules/vendor/slick/_slick.scss */
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
/* line 221, sass/modules/vendor/slick/_slick.scss */
.slick-slider {
  margin-bottom: 30px;
}

/* line 224, sass/modules/vendor/slick/_slick.scss */
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
/* line 233, sass/modules/vendor/slick/_slick.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
/* line 242, sass/modules/vendor/slick/_slick.scss */
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
/* line 254, sass/modules/vendor/slick/_slick.scss */
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
/* line 256, sass/modules/vendor/slick/_slick.scss */
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
/* line 261, sass/modules/vendor/slick/_slick.scss */
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 280, sass/modules/vendor/slick/_slick.scss */
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}
