
/*****************************************************************
    Footer Site
*****************************************************************/

.footer {
    background: #374249;
    padding: 50px 0 20px 0;
    color: #AFB8BA;

    p {
        @include font-size(13px);
    }

    h3 {
        @include font-size(12px);
        font-weight: 400;
        color: #ffffff;
        border-bottom: 1px dashed #44535D;
        padding-bottom: 5px;
    }

    a {
        @include font-size(13px);
        color: #AFB8BA;

        &:hover {
            color: #ffffff;
        }
    }
}

.footer-section {
    @include span(2);
    padding-bottom: 60px;

    &.social-section {
        @include pre(1);
        @include span(3 last);
    }

    .logo {
        float: left;
        @include size(121px, 35px);
        @include hide-text;
        margin: 0;

        a {
            float: left;
            @include size(121px, 35px);
            background: url('../img/helloself-logo.svg') top left no-repeat;
            background-size: 121px;
        }
    }

    a {
        float: left;
        clear: both;
        font-weight: 300;
        padding: 3px 0;
    }

    p {
        float: left;
        margin-top: 5px;
    }
}

.social-section {
    label {
        display: block;
        font-weight: 300;
        margin-bottom: 5px;
    }
}

// MailChimp
#mc_embed_signup {
    display: block;
    overflow: hidden;

    .email {
        @include span(9);
        padding: 10px;
        border: 0px;
        @include font-size(12px);
        @include border-radius(2px 0 0 2px);
        font-weight: 300;
    }

    .button {
        background: #19BB9B;
        @include span(3 last);
        border: 0px;
        padding: 10px 0;
        text-align: center;
        color: #ffffff;
        @include font-size(12px);
        @include border-radius(0 2px 2px 0);
    }
}

.social-holder {
    display: block;
    margin: 10px 0 0 0;

    .facebook-like-button {
        display: inline-block;
        float: none;
        background: #3A73B6;
        padding: 5px 15px;
        color: #ffffff;
        @include border-radius(2px);

        &:hover {
            background: darken(#3A73B6, 5%);
        }
    }

    .twitter-follow-button {
        display: inline-block;
        float: none;
        background: #4EA8E1;
        padding: 5px 15px;
        color: #ffffff;
        margin-left: 5px;
        @include border-radius(2px);

        &:hover {
            background: darken(#4EA8E1, 5%);
        }
    }
}

.footer-message {
    @include font-size(13px);
    font-weight: 300;
    clear: both;

    a {
        color: #F5A623;

        &:hover {
            color: darken(#F5A623, 10%);
        }
    }
}