
/*****************************************************************
    Header Site
*****************************************************************/

.header {
    display: block;
    overflow: hidden;
    @include hex-to-rgba(#000000, 0.3);
    padding: 15px 0;
    position: relative;

    .container {
        width: span(12);
    }
}

.logo {
    float: left;
    @include size(127px, 35px);
    @include hide-text;
    margin: 0;

    a {
        float: left;
        @include size(127px, 35px);
        background: url('../img/helloself-logo.svg') top left no-repeat;
    }
}

.nav {
    float: right;
    margin-top: 5px;

    a {
        float: left;
        color: #ffffff;
        margin-left: 30px;
        font-family: $secondary-font-family;

        &:hover {
            color: #AFB8BA;
        }
    }

    .current {
        color: #AFB8BA;
    }

    .signup-button {
        @include border-radius(2px);
        @include hex-to-rgba (#ffffff, 0.1);
        padding: 10px 20px;
        border: 1px solid #FFFFFF;
        margin-top: -11px;

        &:hover {
            background: #ffffff;
            color: #F5A623;
        }
    }
}
