
/*****************************************************************
    Header
*****************************************************************/

.header {
    width: 100%;
    height: 60px;
    background: #374249;
    @include border-radius(5px 5px 0 0);
}


// Navigation
.nav {
    float: left;
    list-style: none;
    margin: 10px 0 10px 0;
    margin-left: 250px;
    padding: 0;

    li {
        display: inline-block;
        @include font-size(0);
        margin: 0px 15px;

        &:first-child {
            margin-left: 0;
        }
    }

    a {
        display: inline-block;
        @include font-size($base-font-size);
        color: #ffffff;
        font-weight: 300;

        &:hover {
            color: #AFB8BA;
        }
    }

    .analyze-recipe-button {
        background: #19BB9B;
        padding: 10px 20px;
        @include border-radius(2px);

        &:hover {
            background: darken(#19BB9B, 5%);
            color: #ffffff;
        }
    }
}

// Upgrade Message
.upgrade-message {
    float: right;
    @include font-size(12px);
    color: #AFB8BA;
    font-weight: 300;
    margin: 20px 30px 21px 30px;

    a {
        @include font-size(14px);
        color: #00CDBA;
        font-weight: 400;

        &:hover {
            color: darken(#00CDBA, 5%);
        }
    }
}


// Account Dropdown
.account-menu {
    float: right;
    background: #2A3339;
    @include border-radius(0 5px 0 0);
    position: relative;

    &:hover {
        background: darken(#2A3339, 5%);
    }

    &.current {
        background: darken(#2A3339, 5%);
    }

    .account-open {
        display: block;
        padding: 10px 15px 10px 10px;
        overflow: hidden;
        height: 60px;
    }

    img {
        float: left;
        padding: 2px;
        @include size(40px, 40px);
        background: #ffffff url('../img/user-placeholder.svg') center center no-repeat;
        background-size: 26px;
        @include border-radius(2px);
    }

    .account-data {
        float: left;
        padding: 0 10px;
    }

    .account-name {
        display: block;
        font-family: $secondary-font-family;
        color: #ffffff;
        font-weight: 300;
    }

    .account-role {
        display: block;
        font-family: $secondary-font-family;
        @include font-size(10px);
        color: #AFB8BA;
        font-weight: 300;
    }

    .arrow-bottom {
        @include arrow(bottom, #4D5D67, 6px);
        margin-top: 17px;
    }
}

.account-dropdown {
    @include absolute(top 60px right 0);
    width: 100%;
    background: #1f262a;
    list-style: none;
    margin: 0;
    padding: 5px 20px 10px 20px;
    @include border-radius(0 0 0 5px);
    z-index: $zindex-dropdown;
    display: none;

    li {
        display: block;
        margin: 8px 0;
    }

    a {
        color: #AFB8BA;
        font-weight: 300;
        @include font-size(13px);

        &:hover {
            color: #ffffff;
        }
    }

    .logout {
        &:hover {
            color: #CB5555;
        }
    }
}

