
/*****************************************************************
    Layout
*****************************************************************/

// Dashboard Layout
.wrapper {
    background: $base-background-color;
    @include border-radius(5px);
    width: 100%;
    display: block;
}

.container {
    @include container;
    position: relative;
}

.sidebar {
    @include span(2);
    min-width: 220px;
    background: #F5F5F5;
    padding: 15px;
    @include border-radius(0 0 0 5px);
}

.content {
    @include span(8);
    padding: 30px 10px 30px 10px;
    position: relative;
}

.details-left {
    @include span(7);
    padding-right: 20px;
}

.details-right {
    @include span(5 last);
}
