
/*****************************************************************
    Layout Site
*****************************************************************/

.container {
    @include container;
}

.back-image {
    display: block;
    background: url('../img/site-background@2x.jpg') top center no-repeat;
    background-size: cover;
}

.form-holder {
    display: block;
    width: span(3);
    margin: 0px auto;
}