
/*****************************************************************
    Base
*****************************************************************/

// http://compass-style.org/reference/compass/
@import "compass"; // Base Compass Mixins

// https://github.com/necolas/normalize.css/tree/v1
@import "shared/normalize"; // Reset

@import "susy";

@include border-box-sizing;

/*
    Shared
    - All shared files across all pages in this project
*/
@import "shared/vars-site"; // Base Variables

@import "shared/mixins"; // Base Mixins

@import "shared/default"; // Default  - global styles across project
@import "shared/buttons"; // Buttons - all buttons across project
@import "shared/icons"; // Icons - all icons across project
@import "shared/forms"; // Forms - base styles for form items across project


/*
    Structure
    - Base Structure (header, footer and layout)
      we also have pages sub-directory for specific styles for each page (home-page, contact-page etc...)
*/
@import "structure/header-site"; // Header
@import "structure/footer-site"; // footer
@import "structure/layout-site"; // Layout

@import "structure/pages/site-page"; // Home Page specific stuff


/*
    Modules
    - Sections in project ( newsletter signup, custom autocomplete etc... )
      each of this section should be modular and can be movable without additional styles
*/
@import "modules/site/forms"; // Signin Forms
@import "modules/site/intro"; // Intro
@import "modules/site/product-section"; // Product 3 Boxes
@import "modules/site/testimonials-section"; // Testimonials Sections
@import "modules/site/you-know-section"; // You Know Section
@import "modules/site/screenshoots-section"; // Screenshoots Section
@import "modules/site/call-to-action"; // Call to Action
@import "modules/site/featured-top-section"; // Featured Top Section
@import "modules/site/featured-sections"; // Featured Sections


/*
    Help Classes
*/
@import "shared/utilities"; // Utilities Helper Classes


/*
    Vendor
    - All plugins across web ( autocomplete, jquery-ui etc... )
*/




