
/*****************************************************************
    Dashboard Page
*****************************************************************/

.dashboard-page,
.new-recipe-page {
    background: #AFB8BA;
    padding: 10px;
    position: relative;
}
