
/*****************************************************************
    Site Home Page
*****************************************************************/

.site-page {
    h2 {
        @include font-size($h1-size);
        color: #FFFFFF;
        text-align: center;
        font-weight: 400;
        margin: 0 0 10px 0;
    }

    .intro {
        display: none;
    }
}

.intro-text {
    margin: 0 0 5px 0;
    @include font-size(16px);
    color: #ffffff;
    font-weight: 300;
    text-align: center;

    a {
        color: #F5A623;

        &:hover {
            color: darken(#F5A623, 10%);
        }
    }
}


// Home Page Specific Stuf
.site-home-page {
    
    .header {
        background: none;
        padding-top: 30px;
    }

    .intro,
    .pic-info {
        display: block;
    }
}