
/*****************************************************************
    Arrows
    - Depends for mixin arrow (look at structure/mixins)

    $direction: top, left, right, bottom, top-left, top-right, bottom-left, bottom-right
    $color: hex, rgb or rbga
    $size: px or em

    @example
    .element{
        @include arrow(top, #000, 50px);
    }
*****************************************************************/

// Top
.arrow-top {
    @include arrow(top, $base-text-color, 6px);
}

// Bottom
.arrow-bottom {
    @include arrow(bottom, $base-text-color, 6px);
}

// Left
.arrow-left {
    @include arrow(left, $base-text-color, 6px);
}

// Right
.arrow-right {
    @include arrow(right, $base-text-color, 6px);
}

.arrow-bottom-left {
    @include arrow(bottom-left, $base-text-color, 6px);
}