
/*****************************************************************
    Buttons
*****************************************************************/

// Site Buttons

.free-account-button {
    padding: 13px 25px;
    width: 190px;
    display: inline-block;
    background: #F5A623;
    text-align: center;
    @include font-size(13px);
    @include border-radius(2px);
    color: #FFFFFF;

    &:hover {
        color: #FFFFFF;
        background: darken(#F5A623, 10%);
    }
}