
/*****************************************************************
    Default
*****************************************************************/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans:300,400,600,700,800);

html {
    font-size: 62.5%;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $base-text-color;
    background: $base-background-color;
    line-height: 1.4;
}

a {
    color: $base-link-color;
    text-decoration: none;
    @include transition(all 0.15s ease-in-out);

    &:hover {
        color: darken($base-link-color, 10%);
    }
}

h1 {
    @include font-size($h1-size);
}

h2 {
    @include font-size($h2-size);
}

h3 {
    @include font-size($h3-size);
}

h4 {
    @include font-size($h4-size);
}

h5 {
    @include font-size($h5-size);
}

h6 {
    @include font-size($h6-size);
}

#{headings()} {
    font-family: $secondary-font-family;
}
