
/*****************************************************************
    Forms
*****************************************************************/

// Checkbox and Radio Buttons
input[type=checkbox],
input[type=radio] {
    border: 1px solid #ffffff;
    background: #ffffff;
    @include border-radius(2px);
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 16px;
    margin: -4px -4px 0 0;
    outline: 0;
    padding: 0!important;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    min-width: 16px;
    @include single-transition(all,0.3s,ease-in-out);
    @include box-sizing(border-box);
    //@include appearance(none);
    -webkit-appearance: none;
}

input[type=radio] {
    border-radius: 50%;
}

input[type=checkbox]:checked,
input[type=radio]:checked {
    border-color: #ffffff;
    @include single-transition(all, 0.3s, ease-in-out);
}

input[type=checkbox]:before,
input[type=radio]:before {
    opacity: 0;
    @include single-transition(all,0.3s,ease-in-out);
}

input[type=checkbox]:checked:before,
input[type=radio]:checked:before {
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    speak: none;
    opacity: 1;
    @include single-transition(all,0.3s,ease-in-out);
    @include font-smoothing(antialiased);
}

input[type=checkbox]:checked:before {
    color: #19BB9B;
    font-size: 15px;
    font-family: FontAwesome;
    content: "\f00c";
    margin: 7px 0 0 0;
}

input[type=radio]:checked:before {
    content: '';
    background-color: #19BB9B;
    width: 10px;
    height: 10px;
    min-height: 10px;
    margin: 3px 0 0 3px;
    @include border-radius(50%);
}

// Disabled checked/unchecked styles
input[disabled] {
    border-color: #DDD;
}

input[disabled]:checked {
    border-color: #DDD;
}

input[disabled]:checked:before {
    color: #DDD;
    background-color: #DDD;
}

input[disabled] + label {
    color: #A9A9A9;
}