
/*****************************************************************
    Actions
*****************************************************************/

.actions-holder {
    @include span(12);
    background: #F5F5F5;
    padding: 10px;
    clear: both;
    margin: 0px 0 30px 0;
    @include border-radius(2px);
}

.action-dropdown-list {
    float: left;
    @include reset-ul-list;

    li {
        float: left;
        position: relative;
    }
}

// Single Filter
.single-filter {
    float: left;
    background: #ffffff;
    padding: 5px 15px;
    margin-right: 10px;
    color: #9B9B9B;
    border: 1px solid #EDEDED;
    @include font-size(13px);
    @include border-radius(2px);

    &:hover {
        color: $base-text-color;
        border: 1px solid darken(#EDEDED, 10%);
    }

    &.current {
        background: #48A6B6;
        border: 1px solid #48A6B6;
        color: #ffffff;

        &:hover {
            border: 1px solid darken(#48A6B6, 10%);
        }
    }
}


// Double Filters
.double-filter {
    float: left;
    background: #ffffff;
    padding: 5px 15px;
    margin-right: -1px;
    color: #9B9B9B;
    border: 1px solid #EDEDED;
    @include font-size(13px);
    @include border-radius(2px);

    &:hover {
        color: $base-text-color;
        border: 1px solid darken(#EDEDED, 10%);
    }

    &.current {
        background: #48A6B6;
        border: 1px solid #48A6B6;
        color: #ffffff;

        &:hover {
            border: 1px solid darken(#48A6B6, 10%);
        }
    }

    &.last {
        margin-right: 10px;
    }
}

.remove-button {
    color: #CB5555;
}

.action-dropdown {
    background: #ffffff;
    padding: 5px 6px;
    border: 1px solid #EDEDED;
    @include border-radius(2px);
    @include absolute(top 29px left 0);
    min-width: 160px;
    z-index: $zindex-dropdown;
    display: none;

    a {
        display: block;
        color: #9B9B9B;
        @include font-size(13px);
        margin: 5px;

        &:hover {
            color: darken(#9B9B9B, 20%);
        }
    }
}


// Sort
.sort {
    float: right;

    span {
        float: left;
        margin: 5px 5px 0 0;
    }
}


// More Filters
.more-filters {
    background: #ffffff url('../img/icons/more-filters-icon.png') 13px 12px no-repeat;
    width: 46px;

    @include hidpi {
        background: #ffffff url('../img/icons/more-filters-icon@2x.png') 13px 12px no-repeat;
        background-size: 19px;
    }
}
