
/*****************************************************************
    Badges and Labels
*****************************************************************/

// Nutrition Label Default
%nutrition-label {
    display: inline-block;
    @include font-size(10px);
    color: #ffffff;
    padding: 2px 8px;
    @include border-radius(30px);
    margin-left: 5px;
}

// Paleo
.paleo-badge {
    @extend %nutrition-label;
    background: #28267A;
}

// Vegetarian
.vegetarian-badge {
    @extend %nutrition-label;
    background: #28C07A;
}

// Vegan
.vegan-badge {
    @extend %nutrition-label;
    background: #E685FF;
}

// Heart Healthy
.heart-healthy-badge {
    @extend %nutrition-label;
    background: #DE2315;
}

// Dairy Free
.dairy-free-badge {
    @extend %nutrition-label;
    background: #B871C7;
}

// Gluten Free
.gluten-free-badge {
    @extend %nutrition-label;
    background: #C7E81C;
}

// High Protein
.high-protein-badge {
    @extend %nutrition-label;
    background: #12360F;
}

// Low Carb
.low-carb-badge {
    @extend %nutrition-label;
    background: #41BDFB;
}

// Low Sodium
.low-sodium-badge {
    @extend %nutrition-label;
    background: #C7BDA6;
}

// Low Calorie
.low-calorie-badge {
    @extend %nutrition-label;
    background: #C7A6C6;
}

// Low Fat
.low-fat-badge {
    @extend %nutrition-label;
    background: #2CBCC7;
}

// Mediterranean
.mediterranean-badge {
    @extend %nutrition-label;
    background: #C75966;
}

// Pescetarian
.pescetarian-badge {
    @extend %nutrition-label;
    background: #295966;
}

// Certified Nutrition
.certified-badge {
    background: #19BB9B;
    display: inline-block;
    @include font-size(10px);
    color: #ffffff;
    padding: 2px 8px;
    @include border-radius(30px);
}