
/*****************************************************************
    Brand
*****************************************************************/
.brand {
    margin: -65px 0 0 0;
    display: block;
    text-align: center;
    padding: 0 0 20px 0;

    img {
        margin: 0 auto;
        @include border-radius(2px);
    }

    h2 {
        @include font-size(16px);
        margin: 5px 0 0 0;
        font-weight: 400;
    }

    a {
        color: #AFB8BA;
        padding: 1px;
        display: inline-block;
        @include font-size(11px);
        font-weight: 300;
        @include border-radius(2px);

        &:hover {
            text-decoration: underline;
        }
    }
}