
/*****************************************************************
    Breadcrumbs
*****************************************************************/

.breadcrumbs-holder {
    @include reset-ul-list;
    position: relative;
    top: -25px;

    li {
        display: inline-block;
        margin-right: 10px;
        @include font-size(12px);
        color: #BDC5C6;
    }

    a {
        @include font-size(12px);
    }
}