
/*****************************************************************
    New Recipe
*****************************************************************/

.form-holder {
    @include span(6);
    position: relative;

    fieldset {
        border: 0px none;
        padding: 20px 0 0 0;
        clear: both;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    .useful-info {
        float: right;
        font-style: italic;
        @include font-size(12px);
        margin-top: 3px;
        color: #999999;
    }

    .input-field,
    textarea,
    .select-holder {
        width: 100%;
        padding: 10px 12px;
        display: block;
        border: 1px solid #DDDDDD;
        @include border-radius(2px);
        font-weight: 300;

        @include input-placeholder {
            color: #AFB8BA;
            font-weight: 300;
        }

        &:hover,
        &.hover {
            border: 1px solid darken(#DDDDDD, 10%);
        }

        &:focus,
        &.focus {
            border: 1px solid darken(#DDDDDD, 15%);
        }

        &:disabled {
            background: #f5f5f5;
        }
    }

    .arrow-icon {
        @include arrow(bottom, $base-text-color, 6px);
        @include absolute(top 18px right 12px);
    }

    textarea {
        height: 120px;
        resize: none;
    }

    .select-field {
        width: 100%;
    }

    .img_delete:before {
        color: #ffffff;
        content: '✕';
    }

    .img_delete {
        @include absolute(top -10px right -10px);
        @include size(20px, 20px);
        cursor: pointer;
        display: block;
        @include border-radius(30px);
        background-color: #48a6b6;
        color: white;
        text-align: center;
        opacity: 0;
    }

    .new-recipe-button{
        float: right;
        background: #19bb9b;
        color: #fff;
        padding: 12px 30px;
        border: 0 none;
        @include border-radius(2px);
        @include transition(all 0.15s ease-in-out);

        &:hover {
            background: darken(#19BB9B, 5%);
        }
    }
}

.upload-images {
    @include reset-ul-list;

    li {
        float: left;
        margin-right: 30px;
        margin-bottom: 30px;
        position: relative;
        @include size(200px, 140px);
        border: 1px solid #DDDDDD;

        img {
            @include size(100%, 100%);
        }

        &:nth-child(2n+2) {
            margin-right: 0;
        }

        &:hover {
            .img_delete {
                opacity: 1;
            }
        }
    }
}

.upload-single-image {
    @include size(170px, 170px);
    border: 1px solid #DDDDDD;
    position: relative;
    padding: 2px;
    @include border-radius(2px);

    img {
        @include size(100%, 100%);
    }

    &:hover {
        .img_delete {
            opacity: 1;
        }
    }

    &.user-image {
        background: url('../img/user-placeholder.svg') center center no-repeat;
    }

    .upload-image-button {
        margin: 0;
        @include absolute(top 70px left 15px);
    }
}

.upload-progress {
    @include absolute(top 0 left 0);
    height: 100%;
    background: #AFB8BA;
    opacity: 0.7;
    @include border-radius(3px);
}

.upload-item-holder {
    position: relative;
    background: url('../../img/recipe-placeholder@2x.png') center center no-repeat;
    background-size: 200px 140px;
}

.upload-image-button {
    width: 140px;
    padding: 10px 0;
    background: #48a6b6;
    text-align: center;
    display: block;
    color: #fff;
    position: relative;
    cursor: pointer;
    margin: 51px auto;
    @include border-radius(2px);
    z-index: 9;

    &:hover {
        background: darken(#48a6b6, 5%);
        color: #fff;
    }


    .upload-field {
        @include absolute(top 0 left 0);
        @include size(100%, 40px);
        opacity: 0;
    }
}

.change-image-button {
    width: 52px;
    padding: 3px 0 5px 0;
    background: #ffffff;
    text-align: center;
    display: block;
    color: #48A6B6;
    @include font-size(10px);
    @include absolute(top 2px right 2px);
    cursor: pointer;
    @include border-radius(0px 0px 0px 2px);
    z-index: 9;

    &:hover {
        background: darken(#ffffff, 2%);
        color: #48A6B6;
    }

    .change-field {
        @include absolute(top 0 left 0);
        @include size(100%, 24px);
        opacity: 0;
        cursor: pointer;
    }
}

.floating-section,
.floating-right {
    width: 200px;
    padding: 15px;
    @include border-radius(2px);

    .double-filter {
        margin-bottom: 10px;
    }

    h4 {
        margin: 0 0 10px 0;
        @include font-size(14px);
        color: #19bb9b;
        font-weight: 400;
    }

    p {
        display: block;
        overflow: hidden;
        width: 100%;
        margin: 10px 0;
        @include font-size(12px);
    }

    hr {
        width: 100%;
        border: 0px none;
        height: 1px;
        background: #DDDDDD;
    }

    .recipe-name {
        color: $base-text-color;
    }

    .cart-price {
        @include font-size(16px);
        font-weight: 700;
    }

    .small-message {
        font-style: italic;
        @include font-size(10px);
        color: #9B9B9B;
        margin-bottom: 0;
    }
}

.floating-section {
    background: #f5f5f5;
    border: 1px solid #DDDDDD;
    @include absolute(top 74px right -240px);
}

.floating-right {
    @include absolute(top 0px right -240px);

    fieldset {
        padding-top: 0;
    }
}

.upgrade-plan {
    @include size(170px, 116px);
    border: 1px solid #DDDDDD;
    margin-top: 30px;
    padding: 15px 0px;
    text-align: center;

    p {
        @include font-size(10px);
        text-transform: uppercase;
        color: #AFB8BA;
        margin: 0;
    }

    h2 {
        @include font-size(24px);
        color: #48A6B6;
        font-weight: 300;
        margin: 0;
    }

    a {
        background: #19BB9B;
        padding: 10px 15px;
        @include font-size(11px);
        color: #ffffff;
        margin-top: 6px;
        display: inline-block;
        @include border-radius(2px);

        &:hover {
            background: darken(#19BB9B, 5%);
            color: #ffffff;
        }
    }
}





