
/*****************************************************************
    Headline
*****************************************************************/

.headline {
    float: left;
    width: 100%;
    margin-bottom: 20px;

    // Title
    h2 {
        float: left;
        margin: 0 0 10px 0;
    }
}

// Details search category info
.headeline-details {
    color: #AFB8BA;
    clear: both;
    margin-top: 5px;
}

// Search Form
.search-form {
    @include span(4);
    position: relative;
    border-left: 1px solid #EDEDED;
    padding: 0px 0px 0px 20px;
    margin: 4px 0px 0px 20px;
}

// Search Fields
.search-field {
    background: #ffffff url('../img/icons/search-icon.png') 0px 5px no-repeat;
    padding: 6px 15px 6px 25px;
    border: 0px none;
    width: 100%;

    @include hidpi {
        background: #ffffff url('../img/icons/search-icon@2x.png') 0px 5px no-repeat;
        background-size: 16px;
    }

    @include input-placeholder {
        color: #AFB8BA;
        font-weight: 300;
    }

    &:focus {
        outline: none;
        background: #ffffff url('../img/icons/search-dark-icon.png') 0px 5px no-repeat;

        @include hidpi {
            background: #ffffff url('../img/icons/search-dark-icon@2x.png') 0px 5px no-repeat;
            background-size: 16px;
        }
    }
}


// Search Results
.search-results {
    @include absolute(top 35px left 0px);
    width: span(12);
    padding: 0;
    background: #ffffff;
    border: 1px solid #EDEDED;
    @include border-radius(2px);
    z-index: $zindex-dropdown;
    display: none; // @to-do remove this

    ul {
        @include reset-ul-list;

        li {
            display: block;
            padding: 10px 15px;
            border-bottom: 1px solid #EDEDED;

            &:last-child {
                border-bottom: 0px solid #EDEDED;
            }

            &:hover {
                background: #f5f5f5;
            }

            p {
                margin: 0;
                @include font-size(13px);
                font-weight: 400;
            }

            span {
                display: block;
                @include font-size(12px);
                color: #AFB8BA;
            }
        }

        .nothing-found {
            p {
                color: #CB5555;
            }
        }
    }
}

