
/*****************************************************************
    New Group
*****************************************************************/

.add-new-group {
    overflow: hidden;
    display: none;
    padding: 10px 0px;

    .new-group-field {
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        @include border-radius(2px);
        padding: 8px 10px;
        @include font-size(13px);
        width: 100%;
        margin-bottom: 10px;
        font-weight: 300;

        @include input-placeholder {
            color: #AFB8BA;
        }
    }

    .new-group-button {
        float: right;
        padding: 8px 15px;
        background: #19BB9B;
        @include border-radius(2px);
        color: #ffffff;
        @include font-size(13px);
        border: 0px none;

        &:hover {
            background: darken(#19BB9B, 5%);
            color: #ffffff;
        }
    }
}