
/*****************************************************************
    Nutrition Facts
*****************************************************************/

.nutrition-facts-holder {
    display: block;
    width: 100%;
    background: #ffffff;
    border: 1px solid #AFB8BA;
    clear: both;
    @include font-size(13px);
    @include border-radius(2px);
}

.nutrition-facts-title {
    list-style: none;
    margin: 0;
    background: #F5F5F5;
    display: block;
    padding: 10px;
    color: #9B9B9B;
    border-top: 2px solid #AFB8BA;
    border-bottom: 2px solid #AFB8BA;

    .nutri-value {
        color: #47545B;
        float: right;
        text-align: right;
    }
}


.nutrition-facts-content {
    @include reset-ul-list;
    display: block;
    color: #47545B;

    li {
        border-bottom: 1px solid #dddddd;
        padding: 4px 10px;
        @include transition(all 0.15s ease-in-out);

        &:hover {
            background: #EFF4FB;
        }

        &:last-child {
            border-bottom: 0px solid #dddddd;
        }
    }

    .daily-value {
        text-align: right;
        color: #9B9B9B;
    }

    .nutri-value {
        color: #47545B;
        float: right;
        text-align: right;
        font-weight: 600;
    }
}