
/*****************************************************************
    Pagination
*****************************************************************/

.pagination-holder {
    @include span(12);
    text-align: center;
    clear: both;
    padding: 20px 0;

    a {
        display: inline-block;
        background: #48A6B6;
        border: 1px solid #48A6B6;
        color: #ffffff;
        padding: 10px 25px;
        margin: 0 5px;
        @include border-radius(2px);

        &:hover {
            background: darken(#48A6B6, 5%);
            border: 1px solid darken(#48A6B6, 5%);
        }
    }

    .last-pag {
        background: #ffffff;
        border: 1px solid #EDEDED;
        color: #AFB8BA;

        &:hover {
            background: darken(#ffffff, 5%);
            border: 1px solid darken(#EDEDED, 5%);
        }
    }
}