
/*****************************************************************
    Recipe Details
*****************************************************************/

.recipe-details-holder {

    // Headline border
    .recipe-headline {
        border-top: 1px solid #DDDDDD;
    }

    // Headline Title
    h2 {
        @include font-size(18px);
        margin: -14px 0 10px 0;
        background: #ffffff;
        float: left;
        padding-right: 10px;
    }
}

// Recipe Details List
.recipe-details {
    list-style: none;
    margin: 10px 0 50px 0;
    padding: 0;
    clear: both;
    display: block;

    li {
        display: block;
        padding: 2px 5px;
        margin: 0 -5px;
        @include transition(all 0.15s ease-in-out);

        &:hover {
            background: #EFF4FB;
        }
    }
}

// Cooking Steps - how to prepare meal
.cooking-steps {
    margin-top: 30px;

    li {
        margin: 20px -5px;

        &:hover {
            background: none;
        }
    }

    // Ordering Numbers
    .cooking-number {
        display: inline-block;
        margin: -5px 10px 0 0;
        background: #f5f5f5;
        @include size(30px, 30px);
        padding: 5px 0px;
        @include border-radius(50%);
        text-align: center;
        vertical-align: top;
    }

    .cooking-content {
        display: inline-block;
        width: 90%;
    }
}

// Fix width on image gallery
.recipe-gallery {
    display: block;
    clear: both;
    padding: 5px;
    border: 1px solid #dddddd;
    margin-bottom: 50px;

    div {
        @include font-size(0px);
    }
    
    img {
        width: 100%;
    }

    // Kill(Overide) Default Slick Margin
    &.slick-slider {
        margin-bottom: 80px;
    }
}

.recipe-actions {
    @include absolute(top 20px right 40px);

    .edit-recipe {
        background: #ffffff;
        border: 1px solid #DDDDDD;
        padding: 5px 10px;
        text-align: center;
        color: #4A90E2;
        @include font-size(12px);
        @include border-radius(3px);
    }
}


