
/*****************************************************************
    Results
*****************************************************************/

.results-holder {
    @include span(12);
    clear: both;
}


// Results List- <UL>
.results {
    @include reset-ul-list;
    @include clearfix;
}

// Results Item - <LI>
.results-item {
    position: relative;
    @include gallery(3);
    margin-bottom: gutter(12);
    background: #ffffff;
    border: 1px solid #EDEDED;
    @include border-radius(2px);
    height: 200px;

    &.in-progress-item {
        border: 1px solid #CB5555;
    }

    &:hover {
        border: 1px solid #42BFFF;

        .result-info {
            opacity: 1;
            @include transform(scale(1));
        }
    }

    .result-image {
        position: relative;
        @include size(100%, 140px);
        background: url('../../img/recipe-placeholder@2x.png') center center no-repeat;
        background-size: 100% 140px;
    }

    .verified {
        @include absolute(top 1px left 1px);
        background: #ffffff;
        @include border-radius(2px);
        padding: 3px 5px;
        color: #19BB9B;
        @include font-size(10px);
    }

    .in-progress {
        @include absolute(bottom 1px left 1px);
        background: #CB5555;
        @include border-radius(0px 2px 2px 0);
        padding: 3px 5px;
        color: #ffffff;
        @include font-size(10px);
        display: none;
    }

    .result-details {
        width: 100%;
        overflow: hidden;
        padding: 10px;
    }

    h3 {
        margin: 0 0 3px 0;
        @include font-size(14px);
    }

    a {
        color: #4A4A4A;
        @include font-size(14px);
        font-weight: 400;
    }

    .recipe-category {
        float: left;
        @include font-size(12px);
        color: #AFB8BA;
    }

    .recipe-time {
        float: right;
        @include font-size(10px);
        color: #AFB8BA;
    }
}

.result-info {
    @include absolute(top 0 left 0);
    @include hex-to-rgba(#374249, 0.85);
    @include size(100%, 198px);
    padding: 10px;
    opacity: 0;
    @include transform(scale(0.98));
    @include transition(all 0.2s ease-in-out);

    &.checked {
        opacity: 1;
        @include transform(scale(1));
    }

    .checkbox {
        float: right;
    }

    h3 {
        @include font-size(14px);
        color: #ffffff;
    }

    p {
        margin: 0;
        @include font-size(12px);
        color: #ffffff;
    }

    .category-info {
        float: left;
        margin: 10px 0 0 0;

        span {
            display: block;
            @include font-size(10px);
        }

        .cate {
            color: #BDC5C6;
        }

        .nutrilabel {
            color: #05CBCF;
        }
    }

    .nutrition-info {
        float: right;
        margin: 10px 0 0 0;

        span {
            display: block;
            color: #ffffff;
            @include font-size(11px);
            text-transform: uppercase;
        }
    }

    .details-button {
        @include absolute(bottom 10px left 10px);
        width: 90%;
        padding: 10px 0;
        background: #48A6B6;
        color: #ffffff;
        clear: both;
        @include border-radius(2px);
        text-align: center;

        &:hover {
            background: darken(#48A6B6, 5%);
        }
    }
}

.no-results {
    display: block;
    overflow: hidden;
    background: #F3F2EE url('../img/no-results.svg') center right no-repeat;
    border: 1px solid #EDEDED;
    height: 142px;
    @include border-radius(2px);
    padding: 30px;

    h3 {
        margin: 0px 0px 5px 0px;
        @include font-size(16px);
    }
    p {
        margin: 0;
    }
    a {
        font-weight: 700;
        color: #19BB9B;
    }
}


