
/*****************************************************************
    Sidebar Nav
*****************************************************************/

.sidebar-nav {
    list-style: none;
    padding: 0 5px;
    margin: 0 0 30px 0;

    .title {
        color: #AFB8BA;
        @include font-size(12px);
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    li {
        display: block;
        color: #374249;
    }

    a {
        display: block;
        padding: 5px 10px;
        @include font-size(13px);
        color: #374249;

        &:hover {
            color: darken(#374249, 100%);
        }

        &.current {
            background: #48A6B6;
            color: #ffffff;
            @include border-radius(2px);
        }

        &.new-group-action {
            color: #5297D8;
        }
    }

    .edit-group {
        color: #5297D8;
        float: right;
        margin: 0;
        padding: 0;
        font-size: 12px;
        text-transform: none;
        opacity: 0;
    }
}

.groups-nav {
    &:hover {
        .edit-group {
            opacity: 1;
        }
    }
}

.category-edit {
    position: relative;

    &:hover {
        .category-delete {
            opacity: 1;
        }
    }
}

.category-input {
    padding: 8px 10px;
    width: 100%;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #dddddd;
    @include font-size(13px);
    font-weight: 300;
    margin-bottom: 5px;
    @include border-radius(2px);
}

.category-delete {
    @include absolute(top 0px right -31px);
    padding: 5px 4px 5px 4px;
    @include size(32px, 32px);
    background: #CB5555;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    @include border-radius(0px 2px 2px 0px);
    opacity: 0;
    @include transition(all 0.2s ease-in-out);
}