
/*****************************************************************
    Call to Action
*****************************************************************/

.call-to-action {
    background: #2A3237;
    padding: 30px 0;

    .action-copy {
        @include span(4);
        @include pre(2);
        color: #ffffff;
        font-weight: 300;
        text-align: right;
        margin-top: 0;
        margin-bottom: 0;
    }
}