
/*****************************************************************
    Featured Sections
*****************************************************************/

.featured-section {
    display: block;
    overflow: hidden;

    h2 {
        color: $base-text-color;
        text-align: left;
        @include font-size(20px);
        font-weight: 400;
    }

    .featured-item {
        padding-top: 20px;
    }
}

.left-image {
    .img-holder {
        @include span(5);
        text-align: right;
    }

    .featured-item {
        @include span(5 last);
    }
}

.right-image {
    .img-holder {
        @include span(5 last);
        text-align: left;
    }

    .featured-item {

        h2 {
            text-align: right;
        }

        @include span(5);
        text-align: right;
    }
}

.featured-last-list {
    padding-bottom: 80px;

    h2 {
        text-align: center;
    }
}

.featured-list {
    @include reset-ul-list;

    li {
        @include gallery(4);
        padding: 10px;
    }

    h3 {
        @include font-size(16px);
        height: 44px;
        font-weight: 400;
    }

    p {
        @include font-size(13px);
    }
}


.separator {
    display: block;
    @include size(80px, 1px);
    background: #DDDDDD;
    margin: 70px auto;
    border: 0px none;
    position: relative;

    &:after {
        content: "";
        display: block;
        @include absolute(top 4px left 50%);
        margin-left: -30px;
        @include size(60px, 2px);
        background: #DDDDDD;
        border: 0px none;
    }
}