
/*****************************************************************
    Featured Top Section
*****************************************************************/

.features-holder {
    display: block;
    padding: 40px 0 0 0;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 140px;

    h2 {
        width: span(6);
        font-weight: 600;
        margin: 0px auto;
    }
}

.features-image {
    display: block;
    padding: 10px;
    @include size(span(8), 460px);
    margin: 40px auto -60px auto;
    background: #f5f5f5 url('../img/helloself-app-test.svg') center 5px no-repeat;
    background-size: 940px;
    @include border-radius(5px);
    position: relative;

    &:before,
    &:after {
        @include box-shadow(0 15px 10px rgba(0,0,0, .3));
        z-index: -1;
        width: 50%;
        max-width: 500px;
        height: 20%;
        bottom: 15px;
        content: "";
    }
    &:before {
        @include transform(rotate(1deg));
        position: absolute;
        right: 10px;
    }
    &:after {
        @include transform(rotate(-1deg));
        position: absolute;
        left: 10px;
    }
}

.pulse-one-holder {
    @include absolute(top 280px left 60px);
    width: 300px;
}

.pulse-two-holder {
    @include absolute(top 430px left 60px);
    width: 300px;
}

.pulse-three-holder {
    @include absolute(top 250px left 450px);
    width: 300px;
}

.pulse-one,
.pulse-two,
.pulse-three {
    float: left;
}

.pulse-one-content,
.pulse-two-content,
.pulse-three-content {
    float: right;
    margin-top: -60px;
    background: #ffffff;
    padding: 12px 15px;
    width: 280px;
    border: 2px solid #F5A623;
    @include border-radius(3px);
    @include transition(all 0.5s ease);
    display: none;

    h4 {
        margin: 0 0 5px 0;
        @include font-size(14px);
    }

    p {
        margin: 0;
        @include font-size(12px);
    }
}

.pulse-button {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    margin-left: -20px;
    margin-top: -20px;
    display: block;
    @include size(36px, 36px);
    padding-bottom: 4px;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    border: none;
    box-shadow: 0 0 0 0 rgba(245,166,35, 0.8);
    border-radius: 100%;
    v-align: middle;
    background: #F5A623;
    cursor: pointer;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.pulse-button:hover {
    -webkit-animation: none;
}

@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 15px rgba(90, 153, 220, 0);
    }
}
