
/*****************************************************************
    Forms: Login, Signup, Forgot Password
*****************************************************************/

.signin-container {
    padding: 100px 0 265px 0;
}

.signup-container {
    padding: 100px 0 200px 0;
}

.forgot-password-container {
    padding: 100px 0 340px 0;
}

.reset-password-form {
    .password-field {
        margin-bottom: 10px;
        @include border-radius(2px);
    }
}

.form-holder {
    display: block;

    form {
        padding-top: 30px;
    }

    label {
        display: block;
        margin: 10px 0;
        color: #ffffff;
        font-weight: 300;
    }

    .remember-field {
        margin-right: 5px;
    }

    .name-field,
    .email-field,
    .password-field,
    .repeat-password-field {
        border: 0px none;
        background: #ffffff;
    }

    input[type="text"],
    input[type="password"] {
        padding: 15px;
        width: 100%;

        @include input-placeholder {
            color: #AFB8BA;
            font-weight: 300;
        }

        &.email-field {
            border-bottom: 1px solid #dddddd;
        }
    }

    .signin-button,
    .signup-button {
        display: block;
        background: #19BB9B;
        padding: 15px;
        border: 0px solid #000000;
        width: 100%;
        text-align: center;
        color: #ffffff;
        font-weight: 400;
        @include border-radius(2px);
        @include transition(all 0.15s ease-in-out);

        &:hover {
            background: darken(#19BB9B, 5%);
        }
    }

    .form-error-message {
        background: #CB5555;
        @include border-radius(2px 2px 0 0);
        display: block;
        color: #ffffff;
        @include font-size(12px);
        padding: 12px 5px;
        text-align: center;
        font-weight: 300;
        display: none;
    }

    .error-field {
        border-left: 3px solid #CB5555;
        color: #CB5555;
    }
}

.signin-form {
    .name-field {
        @include border-radius(2px 2px 0 0);
        border-bottom: 1px solid #dddddd;
    }

    .password-field {
        @include border-radius(0 0 2px 2px);
    }
}

.signup-form {
    .name-field {
        @include border-radius(2px 2px 0 0);
        border-bottom: 1px solid #dddddd;
    }

    .email-field,
    .password-field {
        border-bottom: 1px solid #dddddd;
    }

    .repeat-password-field {
        @include border-radius(0 0 2px 2px);
        margin-bottom: 10px;
    }
}

.forgot-password-form {
    .email-field {
        @include border-radius(2px);
        margin-bottom: 10px;
    }
}


.other-message {
    margin: 10px 0;
    text-align: center;
    color: #ffffff;
    @include font-size(12px);

    a {
        color: #F5A623;

        &:hover {
            color: darken(#F5A623, 10%);
        }
    }
}

.forgot-password {
    color: #F5A623;
    @include font-size(12px);

    &:hover {
        color: darken(#F5A623, 10%);
    }
}