
/*****************************************************************
    Intro
*****************************************************************/

.intro {
    margin: 140px auto 10px auto;
    width: span(6.5);
    display: block;

    // Main Headline
    h2 {
        @include font-size(40px);
        font-weight: 600;
        margin-bottom: 50px;
        @include text-shadow(0px 1px 0px #000000);
    }

    // Text
    p {
        @include font-size(15px);
        text-align: center;
        font-weight: 300;
        color: #ffffff;
        margin-bottom: 5px;
        @include text-shadow(0px 1px 0px #000000);
    }
}

// Call to Action Holder
.intro-content {
    margin: 0 auto 280px auto;
    width: span(8);
    display: block;

    a {
        @include span(6);
        border: 2px solid #ffffff;
        text-align: center;
        padding: 15px 20px;
        margin-bottom: 20px;
        @include border-radius(3px);
    }

    .create-account-button {
        color: #F5A623;
        background: #ffffff;
    }

    .pricing-plans-button {
        color: #ffffff;
        @include last();

        &:hover {
            @include hex-to-rgba(darken(#ffffff, 0%), 0.2);
        }
    }
}

// Info to scroll down
.scroll-down-info {
    @include font-size(12px);
    text-transform: uppercase;
    color: #ffffff;
    display: block;
    text-align: center;
}