
/*****************************************************************
    Product Sections 3 Boxes
*****************************************************************/

.product-section {
    display: block;
    background: #ffffff;
    padding: 50px 0 80px 0;
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 1px;

    .headline {

        h2 {
            @include font-size($h1-size);
            font-weight: 300;
            color: $base-text-color;
        }

        p {
            text-align: center;
            @include font-size(18px);
            font-weight: 300;
            font-family: $secondary-font-family;
            margin: 0;
        }
    }

    .see-features-button {
        width: span(4);
        @include border-radius(2px);
        background: #FFFFFF;
        border: 1px solid #F5A623;
        padding: 10px;
        text-align: center;
        clear: both;
        overflow: hidden;
        display: block;
        color: $base-text-color;
        margin: 0 auto;

        &:hover {
            border: 1px solid darken(#F5A623, 10%);
            background: darken(#F5A623, 0%);
            color: #ffffff;
        }
    }
}

.product-list {
    list-style: none;
    margin: 80px auto 60px auto;
    width: span(12);
    padding: 0;
    display: block;
    overflow: hidden;

    li {
        float: left;
        width: 33.3%;
        border-right: 1px dashed #DDDDDD;
        min-height: 270px;

        &:last-child {
            border-right: 0px dashed #DDDDDD;
        }

        span {
            font-weight: 600;
        }
    }

    img {
        display: block;
        margin: 0px auto 20px auto;
        height: 115px;
    }

    h3 {
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        @include font-size(14px);
    }

    p {
        font-weight: 300;
        text-align: center;
        @include font-size(14px);
        padding: 0px 30px;
    }
}