
/*****************************************************************
    Screenshoot section
*****************************************************************/

.screenshoots-section {
    display: block;
    background: #ffffff;
    padding: 50px 0 0 0;

    .headline {

        h2 {
            @include font-size($h1-size);
            font-weight: 300;
            color: $base-text-color;
        }

        p {
            text-align: center;
            @include font-size(18px);
            font-weight: 300;
            font-family: $secondary-font-family;
            margin: 0;
        }
    }

    .app-img {
        @include size(span(10), 409px);
        margin: 40px auto 0 auto;
        background: url('../img/helloself-app-test.svg') top center no-repeat;
        background-size: 100%;
    }
}