
/*****************************************************************
    Testimonials Section
*****************************************************************/

.testimonials-section {
    background: #F5F5F5;
    display: block;
    padding: 50px 0 80px 0;
    clear: both;

    .headline {
        
        h2 {
            @include font-size(24px);
            font-weight: 300;
            color: $base-text-color;
        }

        p {
            @include font-size(16px);
            text-align: center;
            font-weight: 300;
            font-family: $secondary-font-family;
            margin: 0;
        }
    }
}

.testimonials-list {
    display: block;
    width: span(10);
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 40px auto 20px auto;

    li {
        @include span(6);
        padding: 0px 10px;

        &:last-child {
            @include last();
        }
    }

    img {
        @include size(36px, 36px);
        float: left;
        border: 2px solid #ffffff;
        margin: 0 10px 0 0;
        @include border-radius(50%);
    }

    p {
        float: right;
        width: 88%;
        margin: 0;
        @include font-size(13px);
        font-style: italic;
        font-weight: 300;

        strong {
            display: block;
        }
    }
}