
/*****************************************************************
    You Know Section
*****************************************************************/

.you-know-section {
    background: #374249;
    padding: 50px 0;
    display: block;
    overflow: hidden;

    h4 {
        @include font-size(12px);
        color: #AFB8BA;
        text-align: center;
        font-weight: 300;
        margin: 0px 0px 5px 0px;
    }

    p {
        text-align: center;
        color: #ffffff;
        font-weight: 300;
        @include font-size(15px);
        margin: 0 0 3px 0;
    }

    .free-account-button {
        margin: 20px auto 0 auto;
        display: block;
    }
}